/**
* ============================
*  3.Media Query
* ============================
*/
@font-face {
  font-family: "potro_sans";
  src: url("../webfonts/potro_sans_bangla_regular-webfont.woff2")
      format("woff2"),
    url("../webfonts/potro_sans_bangla_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Italic.woff2") format("woff2"),
    url("../webfonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../webfonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Bold.woff2") format("woff2"),
    url("../webfonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-MediumItalic.woff2") format("woff2"),
    url("../webfonts/OpenSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Regular.woff2") format("woff2"),
    url("../webfonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Light.woff2") format("woff2"),
    url("../wdbfonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Medium.woff2") format("woff2"),
    url("../webfonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/Certificate.woff2") format("woff2"),
    url("../../assets/webfonts/Certificate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/CertificateBoldSWFTE.woff2") format("woff2"),
    url("../../assets/webfonts/CertificateBoldSWFTE.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/CertificateRegularSWFTE.woff2")
      format("woff2"),
    url("../../assets/webfonts/CertificateRegularSWFTE.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/CertificateBoldItalicSWFTE.woff2")
      format("woff2"),
    url("../../assets/webfonts/CertificateBoldItalicSWFTE.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/CertificateItalicSWFTE.woff2") format("woff2"),
    url("../../assets/webfonts/CertificateItalicSWFTE.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "italianno";
  src: url("../../assets/webfonts/Italianno-Regular.woff2") format("woff2"),
    url("../../assets/webfonts/Italianno-Regular.woff") format("woff"),
    url("../../assets/webfonts/Italianno-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pinyon Script";
  src: url("../../assets/webfonts/PinyonScript-Regular.woff2") format("woff2"),
    url("../../assets/webfonts/PinyonScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Luxurious Script";
  src: url("../../assets/webfonts/LuxuriousScript-Regular.woff2")
      format("woff2"),
    url("../../assets/webfonts/LuxuriousScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-Regular.woff2")
      format("woff2"),
    url("../../assets/webfonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("../../assets/webfonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-MediumCn.woff2")
      format("woff2"),
    url("../../assets/webfonts/AvenirNextLTPro-MediumCn.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-HeavyCn.woff2")
      format("woff2"),
    url("../../assets/webfonts/AvenirNextLTPro-HeavyCn.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../../assets/webfonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*************************** start common css **************************************/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}
body a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.pt9,
.py9 {
  padding-top: 90px !important;
}

.mt9,
.my9 {
  margin-top: 90px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pb-6,
.site_map {
  padding-bottom: 60px;
}

.py9 {
  padding-bottom: 90px !important;
}

.pt45,
.py45 {
  padding-top: 45px !important;
}

.pb45,
.py45 {
  padding-bottom: 45px !important;
}

.mb9 {
  margin-bottom: 90px;
}

.my9 {
  margin-bottom: 90px !important;
}

.mt45,
.my45 {
  margin-top: 45px !important;
}

.mb45,
.my45 {
  margin-bottom: 45px !important;
}

/*************************** end common css **************************************/
body {
  margin: 0;
  padding: 0;
}

.certificate {
  position: relative;
  width: 11.6929in;
  height: 8.2678in;
  z-index: 1;
  margin: 0 auto;
}
.certificate::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../img/certificate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.certificate__content {
  display: flex;
  height: 100%;
  padding: 0 96px;
  padding-top: 29px;
}
.certificate__content .left {
  width: 20%;
  margin-top: 480px;
  margin-bottom: 118px;
  text-align: center;
  padding-left: 12px;
}
.certificate__content .left p {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 0;
  color: #342b27;
}
.certificate__content .left a {
  color: #342b27;
  font-size: 8px;
  letter-spacing: -0.4px;
}
.certificate__content .left .qr__code--img {
  width: 96px;
  height: auto;
}
.certificate__content .right {
  width: 80%;
}
.certificate__content .right .table {
  margin-top: 296px;
  margin-left: 30px;
  font-size: 29px;
  font-weight: 600;
  font-family: "Luxurious Script";
  display: flex;
  flex-direction: column;
  width: 93%;
  color: #342b27;
  gap: 9px;
  letter-spacing: 1.5px;
}
.certificate__content .right .table p {
  margin-bottom: 0;
  margin-top: 0;
}
.certificate__content .right .table .name {
  margin-left: 180px;
}
.certificate__content .right .table .father {
  margin-left: 150px;
}
.certificate__content .right .table .mother {
  margin-left: 100px;
  margin-top: -6px;
}
.certificate__content .right .table .course {
  margin-left: 210px;
  margin-top: -2px;
}
.certificate__content .right .table .ins__name {
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
}
.certificate__content .right .table .ins__name .branch__code {
  margin-right: 30px;
}
.certificate__content .right .table .session__grade {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-top: -6px;
}
.certificate__content .right .table .session__grade .grade {
  margin-right: 21px;
}
.certificate__content .right .table .reg__issue__serial {
  display: flex;
  margin-left: 75px;
  margin-top: -6px;
}
.certificate__content .right .table .reg__issue__serial .issue__date {
  margin-left: 199px;
}
.certificate__content .right .table .reg__issue__serial .serial__no {
  margin-left: 140px;
}
.certificate__content .right .table .number {
  font-size: 31px;
}
.certificate__content .right .signature {
  display: flex;
  padding: 0 20px;
  margin-top: 10px;
}
.certificate__content .right .signature img {
  height: 42px;
  width: 120px;
}
/* .certificate__content .right .signature img:last-child {
  margin-left: 440px;
} */

/* //new css  for drag feature */
.draggable {
  cursor: pointer;
}
.name {
  position: relative;
  height: 35px;
}
.father {
  position: relative;
  height: 35px;
}
.mother {
  position: relative;
  height: 35px;
}
.course {
  position: relative;
  height: 35px;
}
.ins__name {
  position: relative;
  height: 35px;
}
.ins__name .branch__name {
  position: absolute;
  left: 0;
}
.ins__name .branch__code {
  position: absolute;
  right: 0;
  margin-right: 30px;
}
.session__grade {
  position: relative;
  height: 35px;
}
.session__grade .session {
  position: absolute;
  left: 0;
}
.session__grade .grade {
  position: absolute;
  right: 0;
  margin-right: 30px;
}
.certificate__content .right .signature {
  height: 42px;
  position: relative;
}
.certificate__content .right .signature img {
  position: absolute;
}
.certificate__content .right .signature img:last-child {
  position: absolute;
  right: 50px;
}

@media print {
  @page {
    size: 11.6929in 8.272in;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
  }
  .certificate {
    margin: 0;
    padding: 0;
    width: 11.6929in;
    height: 8.2678in;
  }
  .certificate::after {
    display: none !important;
  }
}
