/**
* ============================
*  3.Media Query
* ============================
*/
@font-face {
  font-family: "potro_sans";
  src: url("../webfonts/potro_sans_bangla_regular-webfont.woff2") format("woff2"), url("../webfonts/potro_sans_bangla_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Italic.woff2") format("woff2"), url("../webfonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../webfonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Bold.woff2") format("woff2"), url("../webfonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-MediumItalic.woff2") format("woff2"), url("../webfonts/OpenSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Regular.woff2") format("woff2"), url("../webfonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Light.woff2") format("woff2"), url("../wdbfonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-SemiBold.woff2") format("woff2"), url("OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans-Medium.woff2") format("woff2"), url("../webfonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/Certificate.woff2") format("woff2"), url("../../assets/webfonts/Certificate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/CertificateBoldSWFTE.woff2") format("woff2"), url("../../assets/webfonts/CertificateBoldSWFTE.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/CertificateRegularSWFTE.woff2") format("woff2"), url("../../assets/webfonts/CertificateRegularSWFTE.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/CertificateBoldItalicSWFTE.woff2") format("woff2"), url("../../assets/webfonts/CertificateBoldItalicSWFTE.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "certificate";
  src: url("../../assets/webfonts/CertificateItalicSWFTE.woff2") format("woff2"), url("../../assets/webfonts/CertificateItalicSWFTE.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "italianno";
  src: url("../../assets/webfonts/Italianno-Regular.woff2") format("woff2"), url("../../assets/webfonts/Italianno-Regular.woff") format("woff"), url("../../assets/webfonts/Italianno-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/webfonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/webfonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-MediumCn.woff2") format("woff2"), url("../../assets/webfonts/AvenirNextLTPro-MediumCn.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-HeavyCn.woff2") format("woff2"), url("../../assets/webfonts/AvenirNextLTPro-HeavyCn.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "avenir";
  src: url("../../assets/webfonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/webfonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*************************** start common css **************************************/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}
body a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.pt9,
.py9 {
  padding-top: 90px !important;
}

.mt9,
.my9 {
  margin-top: 90px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pb-6,
.site_map {
  padding-bottom: 60px;
}

.py9 {
  padding-bottom: 90px !important;
}

.pt45,
.py45 {
  padding-top: 45px !important;
}

.pb45,
.py45 {
  padding-bottom: 45px !important;
}

.mb9 {
  margin-bottom: 90px;
}

.my9 {
  margin-bottom: 90px !important;
}

.mt45,
.my45 {
  margin-top: 45px !important;
}

.mb45,
.my45 {
  margin-bottom: 45px !important;
}

/*************************** end common css **************************************/
body {
  margin: 0;
  padding: 0;
}

.membership {
  width: 11.4in;
  height: 8.4in;
  z-index: 1;
  margin: 0 auto;
  position: relative;
}
.membership::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.4in;
  height: 8.4in;
  content: "";
  background-image: url("../img/membership.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.membership__content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.membership__content .left {
  width: 293px;
  height: 100%;
  text-align: center;
  position: relative;
}
.membership__content .left .profile__photo {
  width: 165px;
  height: 203px;
  overflow: hidden;
  margin-top: 35px;
  margin-left: 67px;
}
.membership__content .left .profile__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.membership__content .right {
  flex: 1;
  padding-right: 19px;
}
.membership__content .right .table__top {
  display: flex;
  flex-direction: column;
  font-family: "italianno";
  font-weight: 600;
  gap: 55px;
  margin-top: 287px;
  padding: 0;
  margin-left: 274px;
  width: 438px;
}
.membership__content .right .table__top--single {
  display: flex;
  align-items: center;
}
.membership__content .right .table__top--single .value {
  display: block;
  flex: 1;
  position: relative;
}
.membership__content .right .table__top--single .value p {
  margin-bottom: 0;
  font-size: 32px;
  position: absolute;
  top: -35px;
  left: 12px;
  margin-top: 0;
}
.membership__content .right .table__bottom {
  display: flex;
  flex-direction: column;
  font-family: "italianno";
  font-weight: 600;
  gap: 19px;
  padding: 0 63px;
  margin-top: 20px;
}
.membership__content .right .table__bottom--single {
  padding-left: 65px;
}
.membership__content .right .table__bottom--single.double {
  margin-left: 210px;
  display: flex;
}
.membership__content .right .table__bottom--single .branch__code {
  width: 262px;
}
.membership__content .right .table__bottom--single .issue__date {
  width: 116px;
  white-space: nowrap;
}
.membership__content .right .table__bottom--single p {
  margin-bottom: 0;
  font-size: 32px;
  margin-top: 0;
}
.membership__content .right .footer {
  display: flex;
  justify-content: space-between;
  padding: 0 175px;
  margin-top: 132px;
}
.membership__content .right .footer .qr__code {
  width: 96px;
  margin-top: -30px;
}
.membership__content .right .footer .qr__code img {
  width: 100%;
  height: auto;
}
.membership__content .right .footer .signature {
  text-align: center;
  position: relative;
}
.membership__content .right .footer .signature .signature__img {
  height: 60px;
  width: auto;
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
}
.membership__content .right .footer .signature h4 {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  letter-spacing: -0.5px;
  margin-top: 0;
}
.membership__content .right .footer .signature h4::before {
  position: absolute;
  top: -3px;
  left: -4%;
  width: 108%;
  height: 1px;
  content: "";
  background: #615e58;
}
.membership__content .right .footer .signature p {
  font-size: 8px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 10px;
  margin: 0;
}
.membership__content .right .footer .chairman h4 {
  letter-spacing: 0.2px;
}

@media print {
  @page {
    size: 11.4in 8.41in;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
  }
  .membership {
    margin: 0;
    padding: 0;
    width: 11.4in;
    height: 8.4in;
    overflow: hidden;
  }
}