@font-face {
    font-family: 'Luxurious Script';
    src: url('LuxuriousScript-Regular.woff2') format('woff2'),
        url('LuxuriousScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

