@mixin transform($property) {
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transform: $property;
  -o-transition: $property;
  transition: $property;
}
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-o-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}
@mixin animation($property) {
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

@mixin btn__gradiant {
  background: linear-gradient(214.38deg, #fb908a 2%, #f37021 30.38%);
}
@mixin btn__gradiant__dark {
  background: linear-gradient(214.38deg, #fb908a 2%, #f37021 30.38%);
}
@mixin primary__color--gradiant {
  background: linear-gradient(98deg, #11586d 2%, #003e59 0.38%);
}
@mixin primary__color--gradiant--hover {
  background: linear-gradient(98deg, #f3f3f3 2%, #f3f3f3 0.38%);
}

@mixin dropdown__gradiant {
  background: linear-gradient(214.38deg, #fab8b5 -2.24%, #f37021 59.38%);
}

//Box shadow
@mixin btn__shadow {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2) !important;
  opacity: 0.95 !important;
}
@mixin card__shadow {
  box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.05) !important;
}

//Job getters card gradiant
@mixin job__getters--card--gradiant {
  background-image: linear-gradient(
    to top,
    #11586d 37%,
    rgba(255, 255, 255, 0.5) 200%
  );
}
