$white: #fff;
$semi_white: #ffffffab;
$black: #000000;
$black_2: #1f1e1e;
$black_3: #342b27;
$hover: #003e59;
$hover_2: #ff512e;
$semi_hover: #ff8079;
$dark: #e9e7ed;
$primary_bg: #003e59;
$primary-color: #11586d;
$branch-bg: #d3e7ed;
$bg-2: #faf9fd;
$primary-light: #1388ab;
$bg_color: #fcf4f4;
$secondary_color: #7551ec;
$default_color: #605f62;
$fb_link_bg: #3b5999;
$twitter_link_bg: #55acee;
$pinterest_linbk_bg: #bd081c;
$default_size: 16px;
$default_font: "Lato", sans-serif;

$btn_padding: 10px 25px;
$bold_weight: 600;

//
$primary-color: #11586d;
$primary-light: #1388ab;
$secondary_color: #7551ec;
$branch-bg: #d3e7ed;
$gallery-bg: #f5f9fa;
$branch-apply-bg: #e6d3e7;

//card bg

$card-bg-1: #ffe2e7;
$card-bg-1-dark: #ee4a62;
$card-bg-2: #eaeaea;
$card-bg-2-dark: #333333;
$card-bg-3: #ddf7ff;
$card-bg-3-dark: #11586d;
$card-bg-4: #cee8ff;
$card-bg-4-dark: #0487ff;
