//branch apply header start
.branchapply__header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0;
  background-color: $gallery-bg;
  text-align: center;
  position: relative;
  overflow: hidden;

  .shape-1 {
    position: absolute;
    top: 20%;
    left: 10rem;
  }
  .shape-2 {
    position: absolute;
    top: 50%;
    right: 30rem;
    opacity: 0.5;
  }
  .shape-3 {
    position: absolute;
    top: -5rem;
    right: -8rem;
  }
  .shape {
    @media screen and (max-width: 1200px) {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}
.branch__apply--header {
  padding: 10rem 0;
}

.branchapply__header--inner {
  h2 {
    font-size: 5rem;
    color: $hover;
    font-weight: bold;

    @include desktop {
      font-size: 4rem;
    }
    @include tablet {
      font-size: 3.5rem;
    }
  }
  .breadcrumb {
    justify-content: center;
  }
  .breadcrumb__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;

    .breadcrumb__item {
      font-size: 2rem;
      font-weight: normal;
      font-family: $default_font;
      color: $black_3;
    }
    .seperator {
      margin: 0 1rem;

      svg {
        height: 1.6rem;
        width: auto;
      }
    }
    .active {
      color: $black;
    }
  }
}

// branch apply header end

// branchapply form start
.branch__apply {
  margin: 4rem 0;
  margin-bottom: 15rem;

  .container {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.09);
    padding: 0;
  }

  .branch__header {
    background-color: $primary-color;
    color: $white;
    padding: 2rem;

    .branch__title {
      font-size: 3rem;

      @include desktop {
        font-size: 2.8rem;
      }

      @include tablet {
        font-size: 2.5rem;
      }
    }

    .step {
      display: flex;
      gap: 3rem;
      align-items: center;
      margin-top: 2rem;

      div {
        background: $white;
        color: $black-2;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
          background-color: $hover;
          color: $white;
        }
      }
    }
  }

  .branch__apply--image {
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $hover-2;
      opacity: 0.5;
      content: "";
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// branch apply form end

//branch apply form start
#regForm {
  background-color: #ffffff;
  font-family: $default_font;
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding-bottom: 0 !important;
  margin-bottom: 0;

  #prevBtn {
    padding: 1rem 2.5rem !important;
  }
  #nextBtn {
    padding: 1rem 2.5rem !important;
  }

  .tab {
    h2,
    p,
    input {
      font-family: $default_font;
    }

    h2 {
      font-size: 2rem;
      text-align: center;
      color: $hover-2;
      font-family: $default_font;
      margin-bottom: 2rem;
      font-weight: bold;
    }

    input {
      transition: all 0.3s;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem;
      font-size: 1.6rem;
    }
    input:focus {
      box-shadow: 0 0 2px 2px rgba(194, 242, 251, 1);
      outline: none;
    }

    ::-webkit-file-upload-button {
      background-color: $hover-2;
      color: $white;
      padding: 0.8rem;
      border: none;
      margin-right: 1rem;
    }

    .radio__group {
      display: flex;
      gap: 3rem;
      padding: 0 1rem;
    }

    .radio__field {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.6rem;

      label {
        font-size: 1.6rem;
        font-weight: normal;
      }
    }
    .input__label {
      opacity: 0.9;
    }
    .radio__label {
      font-size: 1.4rem;
      font-weight: bold;
    }
    label {
      font-size: 1.4rem;
      font-weight: bold;
    }

    textarea {
      width: 100%;
    }
  }
  button#nextBtn,
  button#prevBtn {
    background-color: $hover-2;
  }
}

h1 {
  text-align: center;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  margin-bottom: 18rem;
}

button {
  background-color: #04aa6d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
  background-color: $hover-2;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: $hover;
}
