// search header start
.search__header {
  padding: 5rem 0;

  .header__title {
    font-size: 3rem;
    color: $hover;
    text-transform: uppercase;
    font-weight: bold;

    @include tablet {
      font-size: 2.7rem;
    }
  }

  &--inner {
    background-color: $primary-color;
    padding: 3rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);

    .search__header--form {
      display: flex;
      gap: 2rem;

      // @include desktop {
      //   flex-wrap: wrap;
      // }
      @include tablet {
        flex-wrap: wrap;
      }
    }

    .form-select {
      font-size: 1.4rem;
      height: 100%;
      padding: 1rem;
      height: 100%;

      @include tablet {
        font-size: 1.2rem;
      }

      @include tablet {
        margin-bottom: 1rem;
      }
    }
    .search__header--btn {
      font-size: 1.6rem;
      border: none;
      background-color: $hover-2;
      color: $white;
      border-radius: 1rem;
      padding: 1rem 2rem;

      @include tablet {
        font-size: 1.4rem;
        padding: 0.8rem 1.5rem;
      }
    }
  }
}
// search header end

// search result start
.search__result {
  margin-bottom: 20rem;

  .container {
    background-color: $branch-bg;
    padding: 2rem;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);

    @include tablet {
      padding: 1rem;
    }
  }
}
.search__result .card {
  all: unset;
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: $white;
  color: $black-2;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  transition: all 0.3s;
  position: relative;

  @include tablet {
    gap: 2rem;
  }

  &:hover {
    box-shadow: 0 8px 5px 2px rgba(0, 0, 0, 0.4);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 5rem;
      height: 100%;
      content: "";
      background: linear-gradient(to right, $primary-color 50%, $primary-light);
      opacity: 0.2;

      @include tablet {
        width: 3rem;
      }
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    content: "";
    background: linear-gradient(to right, $primary-color 50%, $primary-light);
    opacity: 0.2;
    transition: all 0.5s;
  }

  .card__image--box {
    background: linear-gradient(to right, $primary-color 50%, $primary-light);
    padding: 4rem;

    @include tablet {
      padding: 2.5rem;
    }
  }
}

.card__image--box img {
  border-radius: 50%;
  height: 12rem;
  width: 12rem;

  border: double 4px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, $hover, $primary-light);
  background-origin: border-box;
  background-clip: content-box, border-box;

  @include tablet {
    height: 10rem;
    width: 10rem;
  }
}

.card__info {
  .branch__code {
    font-size: 1.7rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  .name {
    font-size: 2.4rem;
    font-weight: bold;
    color: $hover;
    @include tablet {
      font-size: 2.1rem;
    }
  }
  .designation {
    font-size: 1.4rem;

    @include tablet {
      font-size: 1.2rem;
    }
  }
}

// search result end
