.branch__apply {
  margin-bottom: 10rem;
  padding: 10rem 0;

  .container {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 0;
  }

  .branch__header {
    background-color: $primary-color;
    color: $white;
    padding: 2rem;
    border-radius: 0 2rem 0 0;

    @include desktop {
      border-radius: 0;
    }
    @include tablet {
      border-radius: 0;
    }

    .branch__title {
      font-size: 3rem;

      @include desktop {
        font-size: 2.8rem;
      }

      @include tablet {
        font-size: 2.5rem;
      }
    }

    .step {
      display: flex;
      gap: 3rem;
      align-items: center;
      margin-top: 2rem;

      div {
        background: $white;
        color: $black-2;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
          background-color: $hover;
          color: $white;
        }
      }
    }
  }

  //   branch apply form start
  .branch__apply--form {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;

    .tab {
      margin-bottom: 15rem;

      h2 {
        text-align: center;
        font-size: 2rem;
        color: $hover;
      }
    }

    .upload__box {
      padding: 0;
    }
    ::-webkit-file-upload-button {
      background-color: $hover;
      color: $white;
      padding: 0.8rem;
      border: none;
      margin-right: 1rem;
    }
    p {
      input {
        border: 1px solid $black-2;
        transition: all 0.3s;
        font-size: 1.4rem;

        &:focus {
          outline: none;
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
        }
      }
    }
    label {
      font-size: 1.6rem;
      color: $black-2;
      margin-bottom: 0.5rem;
    }
    .error {
      color: #f00 !important;
    }
    #experience-error {
      position: absolute;
      left: 0;
      bottom: -25px;
      width: 20rem;
    }
    .form__input--radio {
      display: flex;
      align-items: center;
      gap: 4rem;
    }

    .form__input--radio--group {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;

      input[type="radio"] {
        margin-top: -0.8rem;
      }
      input[type="radio"]:checked + label {
        color: $hover;
      }
      input[type="radio"]:checked {
        accent-color: $hover;
      }
    }
    .form__group {
      display: flex;
      justify-content: space-between;

      .form__field {
        width: 48%;
      }
    }
    .form__input {
      margin-bottom: 1rem;

      input,
      select {
        width: 100%;
        padding: 1rem;
        font-size: 1.4rem;
        border: 1px solid $black-2;
        border-radius: 0.5rem;
      }
    }
    textarea {
      width: 100%;
      border: 1px solid $black-2;
      padding: 1rem;
      font-size: 1.6rem;

      &:focus {
        outline: none;
      }
    }

    .previous,
    .next,
    .submit {
      background-color: $hover-2;
      color: $white;
      font-size: 1.4rem;
    }
  }

  .branch__apply--image {
    height: 100%;
    width: 100%;
    background-color: $branch-bg;

    background-image: url("../images/branchapply/branchapply.png");
  }
}

// footer form style
.branchapply__body {
  #rs-footer .footer-top .mc4wp-form {
    background-color: transparent !important;
    padding: 0 !important;
    margin-top: 0 !important;
  }
}
.step.active {
  background-color: $hover-2 !important;
}
