.branch__body {
  background-color: $branch-bg;
}

//branch header start
.branch__header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0;
  background-color: $gallery-bg;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: $default_font;

  .shape-1 {
    position: absolute;
    top: 20%;
    left: 10rem;
  }
  .shape-2 {
    position: absolute;
    top: 50%;
    right: 30rem;
    opacity: 0.5;
  }
  .shape-3 {
    position: absolute;
    top: -5rem;
    right: -8rem;
  }
  .shape {
    @media screen and (max-width: 1200px) {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

.branch__header--inner h2 {
  font-size: 5rem;
  color: $hover;
  font-weight: bold;

  @include desktop {
    font-size: 4rem;
  }
  @include tablet {
    font-size: 3.5rem;
  }
}

// branch header end

// search header start
.search__header {
  padding: 5rem 0;
  font-family: $default_font;

  &--inner {
    padding: 3rem 1rem;
    border-radius: 1rem;
    width: 80%;
    margin: 0 auto;

    .search__header--form {
      display: flex;

      @include tablet {
        flex-wrap: wrap;
        gap: 0.2rem;
        justify-content: center;
      }
    }

    .select__elem {
      font-size: 1.8rem;
      height: 100%;
      padding: 1rem;
      width: 100%;
      border: none;
      font-family: $default_font;
      background: $white;

      &:focus {
        outline: none;
      }

      @include tablet {
        font-size: 1.2rem;
      }

      @include tablet {
        margin-bottom: 1rem;
      }
    }
    .search__header--btn {
      font-size: 1.8rem;
      border: none;
      background-color: $hover-2;
      color: $white;
      padding: 1rem 2rem;
      font-family: $default_font;

      @include tablet {
        font-size: 1.4rem;
        padding: 0.8rem 1.5rem;
        width: 100%;
      }
    }
  }
}
// search header end

// search result start
.search__result {
  margin-bottom: 20rem;

  div[class^="col-"] {
    margin-top: 0;
  }

  .search__result--info {
    font-size: 1.2srem;
    font-weight: normal;
    text-align: center;
    color: $black_4;
    margin-bottom: 3.5rem;

    span {
      font-weight: bold;
    }
  }
}
.search__result .card {
  all: unset;
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: $white;
  color: $black-2;
  transition: all 0.3s;
  position: relative;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;

  &:hover {
    background-color: $primary-light;
    color: $white;

    .card__info {
      color: $white;
    }
    .card__image--box img {
      transform: scale(1.1);
      filter: brightness(0.8);
    }
  }

  @include tablet {
    gap: 2rem;
  }
}
.card__image--box {
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.card__image--box img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  filter: brightness(0.9);
}

.card__info {
  font-family: $default_font;
  color: $black-3;

  .branch__code {
    font-size: 2rem;
    transition: all 0.3s;
    @include tablet {
      font-size: 1.8rem;
    }
  }
  .name {
    font-size: 3rem;
    font-weight: bold;
    transition: all 0.3s;
    @include tablet {
      font-size: 2.1rem;
    }
  }
  .designation {
    font-size: 1.6rem;
    transition: all 0.3s;

    @include tablet {
      font-size: 1.4rem;
    }
  }
}

// search result end

//latest course start
.latest__course--title {
  font-size: 2.5rem;
  font-weight: bold;
  color: $black-3;
  text-align: center;
  margin-bottom: 3rem;
}

.latest__course--item {
  &--single {
    position: relative;
    background: $white;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s;
    margin-bottom: 3rem !important;

    &:hover {
      @include card__shadow;
    }

    .course_image {
      border-radius: 25px 25px 0 0;
      -webkit-border-radius: 25px 25px 0 0;
      -moz-border-radius: 25px 25px 0 0;
      -ms-border-radius: 25px 25px 0 0;
      -o-border-radius: 25px 25px 0 0;
    }
    .course_text {
      padding: 20px 14px 28px 17px;
      border-radius: 0 0 25px 25px;
    }
    .course_text {
      h6 {
        font-family: $bangla_font;
        font-size: 14px;
        line-height: 23px;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        letter-spacing: 0.2px;
        color: $hover-2;
      }
      h3 {
        color: $black-2;
        font-family: $bangla_font;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.200000003px;
      }
      p {
        margin-top: 2rem;
        font-size: 1.8rem;
        font-weight: bold;
        color: $black-2;
      }

      ul li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

      .reviews {
        margin-right: auto;
        margin-left: 1rem;
        margin-top: 0.3rem;
      }
      span {
        svg {
          color: $semi_hover;
          margin: -4px;
          padding: 0;
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}

// latest course end
