// contact us header start=
.contactus__header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0;
  background-color: $gallery-bg;
  text-align: center;
  position: relative;
  overflow: hidden;

  .shape-1 {
    position: absolute;
    top: 20%;
    left: 10rem;
  }
  .shape-2 {
    position: absolute;
    top: 50%;
    right: 30rem;
    opacity: 0.5;
  }
  .shape-3 {
    position: absolute;
    top: -5rem;
    right: -8rem;
  }
  .shape {
    @media screen and (max-width: 1200px) {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

// contact us header end

.form__area {
  &--inner {
    padding: 0;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  }
}

.form__info {
  background-color: $primary-color;
  height: 100%;
  color: $white;
  padding: 4rem;
  position: relative;
  z-index: 1;

  &--header {
    margin-bottom: 4rem;

    h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 0.8rem;

      @include mobile {
        font-size: 2.5rem;
      }
    }
    p {
      font-size: 1.6rem;
      font-weight: normal;
      opacity: 0.9;
    }
  }
}

.form__info--box {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;

  p {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: normal;
  }
}
.form__info--box svg {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  margin-top: 3px;
}

.contact__form {
  padding: 4rem;
  background-color: white;

  .form__group {
    display: flex;
    justify-content: space-between;

    @include mobile {
      display: block;
    }

    .form__field {
      width: 48%;

      @include mobile {
        width: 100%;
      }
    }
  }
  input,
  textarea {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  label {
    font-weight: bold;
    color: $black_4;
    font-size: 1.4rem;
  }

  input,
  label,
  textarea#message,
  textarea::placeholder {
    font-size: 1.6rem;
  }

  .default_btn {
    background: $primary-color !important;
    margin-top: 0.5rem;
  }
}

.contact__form p {
  font-size: 1.6rem;
  margin: 2rem 0;
  font-weight: bold;
  text-align: center;
}

/* location area start  */
.location__area {
  padding-bottom: 10rem;
  margin-bottom: 10rem;
}
.location__header {
  text-align: center;
  margin-bottom: 4rem;
}

.location__header h2 {
  font-size: 4rem;
  font-weight: bold;
  color: $black-2;

  margin-bottom: 6rem;

  @include tablet {
    font-size: 3rem;
  }
}

.map__box {
  height: 40rem;
  width: 100%;
  overflow: hidden;
  margin-top: -2rem;
}

.map__box {
  iframe {
    width: 100%;
    border-radius: 1rem;
  }
  img {
    width: 100%;
    height: auto;
  }
}
/* location area end  */
