$border-color: rgb(219, 225, 235);
.course__details--body {
  color: #111827;
}

.advertisement__img {
  background-color: #a22a2b;

  img {
    width: 100%;
    height: 100%;
  }
}

// course details header start
.course__details--header {
  .header__bg--img {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    z-index: -1;
  }

  .course__details--header--inner {
    padding: 3rem 0;
    padding-bottom: 2rem;

    .course__title {
      font-size: 3.6rem;
      font-weight: bold;
    }
    .course__header--info {
      font-size: 1.6rem;
      width: 95%;
    }
    .ratings {
      display: flex;
      align-items: center;

      .ratings__icon {
        margin-right: 1rem;

        svg {
          color: $hover;
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      .total__ratings {
        margin-bottom: 0;
        font-size: 1.2rem;
      }
    }
  }
}

//course details header end

// Instructor Area start
.instructor {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__info--box {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;

    img {
      width: 7.3rem;
      height: 7.3rem;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .instructor__info {
      h3 {
        font-size: 1.8rem;
        font-weight: normal;
      }

      p {
        margin: 0;
        font-size: 1.6rem;
        font-weight: normal;
      }
    }
  }
}
// Instructor Area end

//What you will learn area start
.what__you--learn {
  margin: 3rem 0;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .what__you--learn--info {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 2rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;

    @include tablet {
      flex-direction: column;
    }

    .info__left {
      width: 48%;

      @include tablet {
        width: 100%;
      }
    }
    .info__right {
      width: 48%;

      @include tablet {
        width: 100%;
      }
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      display: flex;
      gap: 1.5rem;
      font-weight: 400;
      line-height: 2.4rem;

      iconify-icon {
        color: rgb(98, 148, 248);
        font-size: 2rem;
        margin-top: 0.2rem;
      }
    }
  }
}
//What you will learn area end

//about course area start
.about__course {
  padding: 2rem 0;

  &--title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
//about course area end

// course content area start
.course__content {
  padding: 2rem 0;

  &--title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  //accordion body
  .course__content--btn {
    position: relative;
  }

  .topics,
  .skills__you--learn {
    h4 {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      margin-top: 0.5rem;
    }
    ul {
      list-style-type: none;
    }
    ul li {
      font-size: 1.3rem;
      margin-bottom: 0.8rem;
      position: relative;

      &::before {
        position: absolute;
        top: 7px;
        left: -15px;
        content: "";
        background-color: #342b27;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
      }

      &.free {
        color: $hover;
        text-decoration: underline;
        cursor: pointer;
      }

      .list__inner {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .skills__you--learn {
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .topics__title--icon {
      background-color: $primary-color;
      border-radius: 50%;
      color: $white;
      height: 2rem;
      width: 2rem;
      margin-right: 0.8rem;
    }

    ul li::marker {
      color: $black-2;
    }
  }
}
// course content area end

// what you need to class
.what__need--todoclass {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  &--info {
    padding: 1.5rem;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 0.5rem;

    p {
      font-size: 1.6rem;

      .fa {
        color: $primary-color;
        margin-right: 0.5rem;
      }
    }
  }
}
// what you need to class

// payment
.payment {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.6rem;
    border: 1px solid $border-color;
    padding: 1.5rem;
    cursor: pointer;

    span {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}
// payment

// certificate
.certificate {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .certificate__inner {
    padding: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white;

    .course__completion--text {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1.4rem;
    }
    .list {
      font-size: 1.6rem;
      font-weight: 400;
      display: flex;
      gap: 1rem;
      align-items: center;

      iconify-icon {
        color: rgb(98, 148, 248);
        font-size: 1.8rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      margin-top: 1rem;
    }
  }
}
// certificate

//student testemonial
.student__testemonial {
  padding: 2rem 0;
  transform: scale(1);

  .student__testemonial--slider {
    overflow: visible !important;
  }

  .slick-list.draggable {
    padding: 1rem 0 !important;
  }

  &--slider {
    position: relative;
    overflow: hidden;
  }
  .student__testemonial__arrow--left {
    position: absolute;
    top: 55%;
    z-index: 999;
    left: -3rem;
    transform: translateY(-50%);
    height: 4rem;
    width: 4rem;
    font-size: 3.5rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    background: gray;
    opacity: 0.6;

    &::before {
      margin-top: 0.2rem;
      margin-left: -0.2rem;
    }
  }
  .student__testemonial__arrow--right {
    position: absolute;
    top: 55%;
    z-index: 999;
    right: -4rem;
    transform: translateY(-50%);
    height: 4rem;
    width: 4rem;
    font-size: 3.5rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    background: gray;
    opacity: 0.6;

    &::before {
      margin-top: 0.2rem;
      margin-right: -0.2rem;
    }
  }

  .slick-track {
    display: flex;
    gap: 2rem;
  }

  &--title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &--single {
    background-color: #f3f4f6;
    color: $black-2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 1rem;

    .quote {
      color: $primary-color;
      font-size: 3.5rem;
    }
    .text {
      font-size: 1.4rem;
      font-weight: normal;
      margin-top: 2rem;
    }
    .footer {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 2rem;

      img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 1px solid $hover;
      }
      .info {
        .name {
          font-size: 1.8rem;
          margin-bottom: 0;
        }
        .designation {
          font-size: 1.4rem;
          margin-bottom: 0;
          opacity: 0.8;
        }
      }
    }
  }
}
//student testemonial

// frequently asked question
.frequently__asked--question {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}
// frequently asked question

// course details card

.course__details--card {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 3rem 0;
  border-radius: 1rem;
  position: relative;
  background-color: $white;

  .course__enroll--btn {
    background-color: $hover;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    padding: 1rem;
    color: $white;
    margin-bottom: 2rem;
    font-family: $default_font;
  }

  .course__details--img--box {
    position: relative;
    cursor: pointer;

    .video-play--icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 8rem;
      width: 8rem;
      cursor: pointer;
      color: $white;
      opacity: 1;
      border-radius: 50%;
      padding: 0.5rem;
    }
  }

  img {
    height: 100%;
    width: 100%;
  }

  .course__content {
    padding: 1.5rem;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 1.5rem 0;
      margin-top: 0.5rem;
      display: flex;
      align-items: center;

      svg {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
    p {
      font-size: 1.6rem;
      display: flex;
      align-items: center;

      .icon {
        svg {
          margin-right: 1rem;
          height: 1.7rem;
          width: 1.7rem;
          margin-top: -0.5rem;

          color: $hover;
        }
      }
      .lavel {
        margin-left: auto;
      }
    }
  }
}

.career__counceling {
  background-color: $white;
  border-radius: 1rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

  @include tablet {
    display: none;
  }

  .header {
    padding: 1.5rem;
    background-color: $primary-color;
    color: $white;
    text-align: center;
    border-radius: 1rem 1rem 0 0;

    h4 {
      font-size: 1.8rem;
      font-weight: bold;
    }
    p {
      font-weight: normal;
      font-size: 1.2rem;
    }
  }
  .body {
    padding: 1.5rem;

    .form__group {
      margin-bottom: 1.5rem;
    }
    label {
      width: 100%;
      font-size: 1.2rem;
      opacity: 0.9;
      margin-bottom: 0.3rem;
    }
    input {
      width: 100%;
      padding: 1rem;
      font-size: 1.3rem;

      &:focus {
        outline: none;
      }
    }
    .note {
      color: $black-2;
      font-size: 1.2rem;
      opacity: 0.8;

      span {
        font-weight: bold;
      }
    }

    button {
      width: 100%;
      font-size: 1.4rem;
      background: $primary-color;
    }
  }
}
// course details card

//course details enrollment form
.course__details--enrollment--form {
  padding: 2rem 0;
  margin-bottom: 15rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 3rem;

  &::before {
    content: "";
    display: inline-block;
    height: 7px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(90deg, $primary-color, $primary_bg 99%);
  }

  &--inner {
    background-color: $white;
    padding: 2rem;
    width: 100%;

    .title {
      font-size: 2rem;
      font-weight: bold;
      color: $primary-color;

      margin-bottom: 1rem;
    }
    .form__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      align-items: flex-end;

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }

      .form__field {
        flex-grow: 2;

        @include tablet {
          width: 100%;
        }

        label {
          font-size: 1.4rem;
          font-weight: normal;
        }

        input {
          width: 100%;
          padding: 0.8rem 1rem;
          font-size: 1.6rem;

          &:focus {
            outline: none;
          }
        }
      }

      .default_btn {
        padding: 1rem 2rem;
        font-size: 1.6rem !important;
      }
    }
  }
}
//course details enrollment form

//modal style start
.modal__area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  .modal__area--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.8;
  }

  .video__modal--area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    .container {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 419px;
    }
  }

  .video__area--inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 419px;
    width: 100%;
    position: relative;
    z-index: 99999;

    i {
      position: absolute;
      top: -2rem;
      right: -2rem;
      color: $white;
      font-size: 2rem;
      opacity: 0.8;
      cursor: pointer;
    }

    .video__area {
      flex-grow: 4;
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .modal__form {
      text-align: center;
      background: $white;
      padding: 2rem;
      flex-grow: 1;
      height: 100%;

      @media only screen and (max-width: 1000px) {
        display: none;
      }

      .title {
        font-size: 2rem;
        font-weight: 600;

        @include desktop {
          font-size: 1.6rem;
          display: none;
        }
      }
      img {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        border: 1px solid $hover;
        margin: 0.8rem 0;
      }
      .question {
        font-size: 1.6rem;

        @include desktop {
          font-size: 1.1rem;
        }
      }
      .phone {
        font-size: 2rem;
        color: $black;
        font-weight: bold;
        opacity: 0.9;
        margin: 0;

        @include desktop {
          font-size: 1.4rem;
        }
      }
      .or {
        font-size: 1.4rem;
        margin: 1rem 0;
        opacity: 0.8;
      }
      .request__callback {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
      .modal__submit--form {
        input {
          width: 100%;
          padding: 1rem;
          margin: 0.5rem 0;
          font-size: 1.3rem;
          border: 1px solid rgba(0, 0, 0, 0.2);

          &:focus {
            outline: none;
          }
        }
        button {
          border: none;
          padding: 1rem;
          width: 100%;
          background-color: $hover;
          color: $white;
          margin-top: 0.5rem;
          font-size: 1.4rem;
          font-family: $default_font;
        }
      }
    }
  }
}

//modal style end

// custom accordion start
.accordion {
  max-width: 100% !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  font-family: $default_font;
  background: $white;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  color: $black-2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .label__icon {
    margin-right: 7rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 10rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 9px;
  background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTInIGhlaWdodD0nOCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMi4xMiA2LjcxIDYgMi44M2wzLjg4IDMuODhhLjk5Ny45OTcgMCAxIDAgMS40MS0xLjQxTDYuNy43MWEuOTk2Ljk5NiAwIDAgMC0xLjQxIDBMLjcgNS4zYS45OTYuOTk2IDAgMCAwIDAgMS40MWMuMzkuMzggMS4wMy4zOSAxLjQyIDBaJyBmaWxsPScjMDAwJy8+PC9zdmc+");
  background-size: contain;
  transition: transform 0.4s;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 1.4rem;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.accordion-body {
  ul {
    li {
      list-style-type: square;
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
      color: $black_3;
      opacity: 0.9;
      list-style: none;
      position: relative;

      &::before {
        position: absolute;
        top: 10px;
        left: -20px;
        content: "";
        background-color: $black_4;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
      }

      span {
        font-weight: normal;
      }
    }
  }
}
// custom accordion end
