//global style start

.accordion-button {
  border: none;
  outline: none;
}
.accordion-button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
  color: $black-2;
  background-color: $white;
}

button.accordion-button {
  font-size: 1.6rem !important;
  font-family: $default_font;
  font-weight: normal;
  padding: 2rem !important;
}
.accordion-body {
  padding: 2rem !important;

  p {
    font-size: 1.6rem !important;
    line-height: 2.5rem;
  }
}
.accordion-header {
  padding: 0;
}

//global style end

.advertisement__img {
  background-color: #a22a2b;

  img {
    width: 100%;
    height: 100%;
  }
}

// course details header start
.course__details--header {
  .header__bg--img {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    z-index: -1;
  }

  .course__details--header--inner {
    padding: 3rem 0;

    .course__title {
      font-size: 3rem;
      font-weight: bold;
    }
    .course__header--info {
      font-size: 1.4rem;
    }
    .ratings {
      display: flex;
      align-items: center;

      .ratings__icon {
        margin-right: 1rem;

        svg {
          color: $hover;
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      .total__ratings {
        margin-bottom: 0;
        font-size: 1.2rem;
      }
    }
  }
}

//course details header end

// Instructor Area start
.instructor {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: $black-2;
    margin-bottom: 2rem;
  }

  &__info--box {
    display: flex;
    padding: 2rem;
    gap: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .instructor__info {
      h3 {
        font-size: 2rem;
        font-weight: normal;
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 1.4rem;
      }
    }
  }
}
// Instructor Area end

//What you will learn area start
.what__you--learn {
  margin: 3rem 0;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: $black-2;
    margin-bottom: 2rem;
  }
  .what__you--learn--info {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @include tablet {
      flex-direction: column;
    }

    .info__left {
      width: 48%;

      @include tablet {
        width: 100%;
      }
    }
    .info__right {
      width: 48%;

      @include tablet {
        width: 100%;
      }
    }

    p {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      display: flex;
      gap: 1rem;
      align-items: flex-start;

      .fa {
        color: $primary-color;
        margin-top: 0.5rem;
      }
    }
  }
}
//What you will learn area end

//about course area start
.about__course {
  padding: 2rem 0;

  &--title {
    font-size: 2rem;
    font-weight: bold;
    color: $black-2;
    margin-bottom: 2rem;
  }

  .accordion-button {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .accordion-body {
    .about__course {
      margin: 0;
      padding: 0;
      p {
        font-size: 1.3rem;
        font-weight: normal;
        opacity: 0.9;
      }
    }
    ul {
      li {
        list-style-type: square;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        color: $black-2;
        opacity: 0.9;
        list-style: none;
        position: relative;

        &::before {
          position: absolute;
          top: 7px;
          left: -20px;
          content: "";
          background-color: $black_3;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
        }

        span {
          font-weight: bold;
        }
      }
    }
  }
}
//about course area end

// course content area start
.course__content {
  padding: 2rem 0;

  &--title {
    font-size: 2rem;
    font-weight: bold;
    color: $black-2;
    margin-bottom: 2rem;
  }
  .accordion-button {
    font-size: 1.4rem;
    color: $black-2;
  }

  //accordion body
  .course__content--btn {
    position: relative;
  }
  .course__content--btn span {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    font-weight: normal;

    svg {
      transform: rotate(90deg);
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.8rem;
    }
  }
  .accordion-button {
    font-size: 1.6rem;
    font-weight: bold;
    color: $black-2;
  }

  .topics,
  .skills__you--learn {
    h4 {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      margin-top: 0.5rem;
    }
    ul {
      list-style-type: none;
    }
    ul li {
      font-size: 1.3rem;
      margin-bottom: 0.8rem;
      position: relative;

      &::before {
        position: absolute;
        top: 7px;
        left: -15px;
        content: "";
        background-color: #342b27;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
      }

      svg {
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
      }

      &.free {
        color: $hover;
        text-decoration: underline;
        cursor: pointer;
      }

      .list__inner {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .skills__you--learn {
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .topics__title--icon {
      background-color: $primary-color;
      border-radius: 50%;
      color: $white;
      height: 2rem;
      width: 2rem;
      margin-right: 0.8rem;
    }

    ul li::marker {
      color: $black-2;
    }
  }
}
// course content area end

// what you need to class
.what__need--todoclass {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    color: $black-2;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &--info {
    padding: 1.5rem;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);

    p {
      font-size: 1.6rem;

      .fa {
        color: $primary-color;
        margin-right: 0.5rem;
      }
    }
  }
}
// what you need to class

// payment
.payment {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    color: $black-2;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  a {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    color: $primary-color;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    background-color: $white;
  }
}
// payment

// certificate
.certificate {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: $black-2;
    margin-bottom: 2rem;
  }
  .certificate__inner {
    padding: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white;

    .course__completion--text {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.4rem;
    }
    .list {
      font-size: 1.4rem;
      font-weight: normal;

      .fa {
        margin-right: 0.5rem;
        color: $primary-color;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      margin-top: 1rem;
    }
  }
}
// certificate

//student testemonial
.student__testemonial {
  padding: 2rem 0;
  transform: scale(1);

  .student__testemonial--slider {
    overflow: visible !important;
  }

  .slick-list.draggable {
    padding: 1rem 0 !important;
  }

  &--slider {
    position: relative;
    overflow: hidden;
  }
  .student__testemonial__arrow--left {
    position: absolute;
    top: 55%;
    z-index: 999;
    left: -3rem;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
  }
  .student__testemonial__arrow--right {
    position: absolute;
    top: 55%;
    z-index: 999;
    right: -3rem;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
  }

  .slick-track {
    display: flex;
    gap: 2rem;
  }

  &--title {
    font-size: 2rem;
    font-weight: bold;
    color: $black-2;
    margin-bottom: 2rem;
  }

  &--single {
    background-color: $white;
    color: $black-2;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 2rem;

    .quote {
      color: $primary-color;
      font-size: 3.5rem;
    }
    .text {
      font-size: 1.4rem;
      font-weight: normal;
      margin-top: 2rem;
    }
    .footer {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 2rem;

      img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 1px solid $hover;
      }
      .info {
        .name {
          font-size: 1.8rem;
          margin-bottom: 0;
        }
        .designation {
          font-size: 1.4rem;
          margin-bottom: 0;
        }
      }
    }
  }
}
//student testemonial

// frequently asked question
.frequently__asked--question {
  padding: 2rem 0;

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: $black-2;
    margin-bottom: 1.5rem;
  }

  .accordion-button {
    font-size: 1.4rem;
    padding: 1.2rem 1rem;
    font-weight: bold;
  }
  .accordion-body {
    font-size: 1.4rem;
    opacity: 0.8;
  }
  .accordion-button:not(.collapsed) {
    color: $black-2;
    background-color: $white;
  }
}
// frequently asked question

// course details card

.course__details--card {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 3rem 0;
  border-radius: 1rem;
  position: relative;
  background-color: $white;

  .course__enroll--btn {
    background-color: $hover;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
    color: $white;
    margin-bottom: 2rem;
  }

  .course__details--img--box {
    position: relative;

    .video-play--icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 8rem;
      width: 8rem;
      cursor: pointer;
      color: $white;
      opacity: 1;
      border-radius: 50%;
      padding: 0.5rem;
    }
  }

  img {
    height: 100%;
    width: 100%;
  }

  .course__content {
    padding: 1.5rem;

    h2 {
      font-size: 2.5rem;
      color: $black-2;
      font-weight: bold;
      margin: 1.5rem 0;
      margin-top: 0.5rem;
      display: flex;
      align-items: center;

      svg {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
    p {
      font-size: 1.4rem;
      display: flex;
      align-items: center;

      .icon {
        svg {
          margin-right: 1rem;
          height: 1.5rem;
          width: 1.5rem;

          color: $hover;
        }
      }
      .lavel {
        margin-left: auto;
      }
    }
  }
}

.career__counceling {
  background-color: $white;
  border-radius: 1rem;

  @include tablet {
    display: none;
  }

  .header {
    padding: 1.5rem;
    background-color: $primary-color;
    color: $white;
    text-align: center;
    border-radius: 1rem;

    h4 {
      font-size: 1.8rem;
      font-weight: bold;
    }
    p {
      font-weight: normal;
      font-size: 1.2rem;
    }
  }
  .body {
    padding: 1.5rem;

    .form__group {
      margin-bottom: 1.5rem;
    }
    label {
      width: 100%;
      font-size: 1.2rem;
      opacity: 0.9;
      margin-bottom: 0.3rem;
    }
    input {
      width: 100%;
      padding: 1rem;
      font-size: 1.3rem;

      &:focus {
        outline: none;
      }
    }
    .note {
      color: $black-2;
      font-size: 1.2rem;
      opacity: 0.8;

      span {
        font-weight: bold;
      }
    }
    button {
      border: none;
      width: 100%;
      color: $white;
      background-color: $primary-color;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      border-radius: 0.5rem;
    }
  }
}
// course details card

//course details enrollment form
.course__details--enrollment--form {
  padding: 2rem 0;
  margin-bottom: 15rem;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 3rem;

  &::before {
    content: "";
    display: inline-block;
    height: 7px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(90deg, $primary-color, $primary_bg 99%);
  }

  &--inner {
    background-color: $white;
    padding: 2rem;
    width: 100%;

    .title {
      font-size: 2rem;
      font-weight: bold;
      color: $primary-color;

      margin-bottom: 1rem;
    }
    .form__group {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      align-items: flex-end;

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }

      .form__field {
        flex-grow: 2;

        @include tablet {
          width: 100%;
        }

        label {
          font-size: 1.4rem;
          font-weight: normal;
        }

        input {
          width: 100%;
          padding: 1rem;
          font-size: 1.4rem;

          &:focus {
            outline: none;
          }
        }
      }
      .default_btn {
        padding: 1rem 2.5rem;
      }
    }
  }
}
//course details enrollment form

//modal style start
.modal__area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  .modal__area--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.8;
  }

  .video__modal--area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    .container {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 419px;
    }
  }

  .video__area--inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 419px;
    width: 100%;
    position: relative;
    z-index: 99999;

    i {
      position: absolute;
      top: -2rem;
      right: -2rem;
      color: $white;
      font-size: 2rem;
      opacity: 0.8;
    }

    .video__area {
      flex-grow: 4;
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .modal__form {
      text-align: center;
      background: $white;
      padding: 2rem;
      flex-grow: 1;
      height: 100%;

      .title {
        font-size: 2rem;
        font-weight: 600;

        @include desktop {
          font-size: 1.6rem;
        }
      }
      img {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        border: 1px solid $hover;
        margin: 0.8rem 0;
      }
      .question {
        font-size: 1.6rem;

        @include desktop {
          font-size: 1.1rem;
        }
      }
      .phone {
        font-size: 2rem;
        color: $black;
        font-weight: bold;
        opacity: 0.9;
        margin: 0;

        @include desktop {
          font-size: 1.4rem;
        }
      }
      .or {
        font-size: 1.4rem;
        margin: 1rem 0;
        opacity: 0.8;
      }
      .request__callback {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
      .modal__submit--form {
        input {
          width: 100%;
          padding: 1rem;
          margin: 0.5rem 0;
          font-size: 1.3rem;
          border: 1px solid rgba(0, 0, 0, 0.2);

          &:focus {
            outline: none;
          }
        }
        button {
          border: none;
          padding: 1rem;
          width: 100%;
          background-color: $hover;
          color: $white;
          margin-top: 0.5rem;
          font-size: 1.4rem;
          font-family: $default_font;
        }
      }
    }
  }
}

//modal style end
