.courselisting__body {
  .container {
    @include tablet {
      padding: 0 2rem !important;
      margin: 0 !important;
      max-width: 100% !important;
    }
  }
}

.course__list {
  margin: 10rem 0;

  // header style start
  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    gap: 1rem;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
      gap: 2rem;
    }

    .result {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 16px;
      font-weight: 400;
      color: $black_4;
      display: inline-block;
      width: 30%;
      margin: 0;
      line-height: 22px;
      font-size: 1.4rem;

      @include tablet {
        width: 40%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }

      span {
        color: $primary-color;
        font-weight: bold;
      }
    }

    .filterby {
      display: flex;
      gap: 1rem;
      align-items: center;

      h3 {
        font-size: 1.6rem;
        font-weight: bold;
        color: $black_4;

        @include tablet {
          font-size: 1.2rem;
        }
      }

      .dropdown {
        button:hover {
          background-color: inherit !important;
          color: inherit !important;
          text-decoration: none !important;
        }

        .dropdown__others--filter {
          color: $black_4 !important;
          background: transparent;
          cursor: pointer;
          font-size: 1.4rem;
          padding: 0.5rem 0.5rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0.2rem;
          font-family: $default_font;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.2rem;

          iconify-icon {
            font-size: 2rem;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          z-index: 1;
          background: $white;
          padding: 2rem;
          box-shadow: 0 -2px 10px 4px rgba(0, 0, 0, 0.05);
          width: 28rem;
          font-family: $default_font;
          color: $black_4;
          margin-top: 0.8rem;
          left: 0;

          @include desktop {
            left: -12rem;
          }

          @include tablet {
            left: -16rem;
          }
          @media screen and (max-width: 485px) {
            left: -14rem;
          }
          @media screen and (max-width: 376px) {
            left: -16rem;
          }

          .dropdown__content--item {
            position: relative;

            &::before {
              bottom: 100%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;

              border-color: rgba(230, 230, 230, 0);
              border-bottom-color: $white;
              border-width: 7px;
              margin-left: -92px;
              top: -33px;

              @include desktop {
                left: 235px;
              }

              @include tablet {
                display: none;
              }
            }

            .type {
              margin-bottom: 3rem;
              text-align: left;

              p {
                font-style: italic;
                font-size: 1.4rem;
              }

              input,
              label {
                cursor: pointer;
              }
            }

            .button__box {
              display: flex;
              justify-content: space-between;

              button {
                background: linear-gradient(98deg, $primary-color, $primary_bg);
                color: $white;
                padding: 0.8rem 2rem;
                font-family: $default_font;
                font-size: 1.4rem;
                border-radius: 0.2rem;
              }

              .clear {
                background: transparent;
                color: $primary-color;
                font-style: italic;
                font-weight: 600;
              }
            }
          }
        }
        .dropdown:hover .dropdown-content {
          display: block;
        }
      }

      .job__role--select {
        position: relative;
      }

      select {
        font-size: 1.4rem;
        padding: 0.5rem 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.2rem;
        -webkit-appearance: none;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="currentColor" fill-opacity="0.5" d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4l-6 6Z"%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-size: 45px 22px;
        background-position: calc(100% - -5px) center;
        transition: transform 0.3s ease-in-out;
        padding-right: 40px;
        color: $black_4;

        &:focus {
          outline: none;
        }
      }
    }

    .new__filter {
      position: absolute;
      top: -18px;
      left: 0;
      font-size: 1rem;
      padding: 0.2rem 0.5rem;
      color: white;
      background: linear-gradient(100deg, $primary-color, $primary_bg);

      &::after {
        position: absolute;
        top: 0;
        left: 6px;
        width: 100%;
        height: 100%;
        content: "";
        background: $primary_bg;
        clip-path: polygon(90% 0, 87% 100%, 100% 100%);
      }
    }
  }
  //header style end

  // filter token style start
  .filter__token {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.4rem;

    @include tablet {
      flex-wrap: wrap;
    }

    ul {
      display: flex;
      align-items: center;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: $couse_listing_bg;
        padding: 1rem 2rem;
        border-radius: 4rem;
        transition: all 0.3s;

        &:hover {
          background: linear-gradient(100deg, #2591b2, #003e59);
          color: $white;
        }

        iconify-icon {
          cursor: pointer;
        }
      }
    }

    button {
      background: transparent;
      color: $primary-color;
      font-style: italic;
      font-family: $default_font;
      font-size: 1.4rem;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: transparent !important;
        color: inherit !important;
        text-decoration: none !important;
      }
    }
  }
  // filter token style end

  // job role token area start
  .job__role--token {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    @include tablet {
      flex-wrap: nowrap;
    }

    a {
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      border-radius: 4rem;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

      @include tablet {
        border-radius: 1rem;
      }

      @include tablet {
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }
    }
  }
  // job role token area end

  .course__list--area {
    margin-top: 4rem;

    & > a {
      display: flex;
    }
  }

  // single course area start
  .masters__programe {
    .course__info {
      ul {
        @include tablet {
          display: none;
        }
      }

      & > .course__details--info {
        display: none;

        @include tablet {
          display: flex;
          gap: 2rem;
        }

        .course__details--info--single {
          &:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            padding-right: 2rem;
          }
        }
      }
    }
  }

  .course__single {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
    transition: padding 0.5s;
    position: relative;

    &:hover {
      background-color: $couse_listing_bg;
      padding: 2rem;

      @include desktop {
        padding: 2rem 0;
        background-color: transparent;
      }
      @include tablet {
        padding: 2rem 0;
        background-color: transparent;
      }

      .course__info {
        width: 50%;

        .title {
          span {
            &::before {
              left: -12px;
            }
          }
        }
      }
      .course__tooltip {
        display: block;

        @include desktop {
          display: none;
        }
        @include tablet {
          display: none;
        }
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .img__box {
      height: 12rem;
      width: 12rem;

      @include tablet {
        width: 9rem;
        height: 9rem;
      }

      img {
        object-fit: cover;
        height: 12rem;
        width: 12rem;

        @include tablet {
          width: 9rem;
          height: 9rem;
        }
      }
    }
    .course__info {
      width: 50%;

      .title {
        font-size: 1.6rem;
        font-weight: bold;
        color: $black_4;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: center;

        @include tablet {
          font-size: 1.2rem;
          gap: 1rem;
        }

        span {
          background: linear-gradient(98deg, $primary-color, $primary_bg);
          color: $white;
          font-size: 1.2rem;
          padding: 0.5rem 1rem;
          position: relative;
          font-weight: normal;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -12px;
            border-color: transparent $primary-color;
            border-style: solid;
            border-width: 12px 13px 13px 0px;
            height: 0px;
            width: 0px;
            transition: all 0.5s;
          }
        }
      }
      .sub__title {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include tablet {
          display: none;
        }

        span {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          color: #333;
          opacity: 0.8;

          iconify-icon {
            color: $black_4;
            margin-right: 0.2rem;
          }
        }
      }

      ul {
        list-style: none;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        li {
          font-size: 1.2rem;
          color: $black_3;
          line-height: 2rem;
          position: relative;

          @include tablet {
            font-size: 1rem;
            line-height: 1.5rem;
          }

          &::before {
            position: absolute;
            height: 0.4rem;
            width: 0.4rem;
            background-color: $black_3;
            content: "";
            top: 48%;
            transform: translateY(-50%);
            left: -1.5rem;
            border-radius: 50%;

            @include tablet {
              top: 1rem;
            }
          }
        }
      }

      .more__courses {
        font-size: 1.2rem;
        font-style: italic;
        color: $black_4;

        @include tablet {
          display: none;
        }
      }

      .ratings {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;
        display: none;

        @include tablet {
          display: flex;
          justify-content: flex-start;
          gap: 2rem;
        }

        .icon {
          display: flex;
          align-items: center;

          iconify-icon {
            font-size: 1.8rem;
            color: $hover-2;

            @include tablet {
              font-size: 1.4rem;
              margin-right: -2px;
              opacity: 0.8;
            }
          }
        }

        h3 {
          margin-bottom: 0;
          font-size: 1.4rem;
          color: $black_3;
          font-weight: bold;

          @include tablet {
            font-size: 1.2rem;
          }

          span {
            color: $black_4;
            font-weight: normal;
          }
        }
      }
    }
    .course__details {
      margin-left: auto;
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include tablet {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      .ratings {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;

        @include tablet {
          display: none;
        }

        .icon {
          display: flex;
          align-items: center;

          iconify-icon {
            font-size: 1.8rem;
            color: $hover-2;
          }
        }

        h3 {
          margin-bottom: 0;
          font-size: 1.4rem;
          color: $black_3;
          font-weight: bold;

          span {
            color: $black_4;
            font-weight: normal;
          }
        }
      }

      .course__details--info {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        @include tablet {
          display: none;
        }

        &--single {
          text-align: center;

          &:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            padding-right: 2rem;
          }

          h6 {
            font-size: 1rem;
            font-style: italic;
          }

          h2 {
            font-size: 2.4rem;
            color: $black_4;
          }
        }
      }

      .button__area {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        justify-content: flex-end;

        button {
          font-size: 1.1rem;
          font-weight: normal;
          padding: 0.5rem 1rem;
          color: $primary-color;
          text-transform: uppercase;
          background: none;
          border: 1px solid $primary-color;
          font-weight: bold;
          font-family: $default_font;

          @include tablet {
            display: none;
          }

          &:hover {
            a {
              color: $primary-color;
            }
          }
        }

        iconify-icon {
          background-color: $white;
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;
          box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.09);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .course__tooltip {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -249px;
      background-color: $white;
      box-shadow: -4px 0 10px 1px rgba(0, 0, 0, 0.1);
      padding: 2rem;
      padding-bottom: 3rem;
      display: none;

      @include desktop {
        display: none;
      }
      @include tablet {
        display: none;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -12px;
        border-color: transparent $white;
        border-style: solid;
        border-width: 12px 13px 13px 0px;
        height: 0px;
        width: 0px;
        transition: all 0.5s;
      }

      p {
        margin-bottom: 0;
      }

      .normal {
        font-size: 1.4rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        color: $black_4;
        font-weight: 600;

        iconify-icon {
          color: $primary-color;
        }
      }
      .small {
        font-size: 1.2rem;
        color: $black_4;
        margin-bottom: 0.5rem;
      }
    }
  }
  //single course area end
}

/* The Modal (background) */
/* The Modal (background) */

//modal style start
.listing__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  .modal__area--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.8;
  }

  .video__modal--area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    .container {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 419px;
      width: 600px;
    }
  }

  .video__area--inner {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 99999;
    width: 600px;

    .modal__form {
      text-align: center;
      background: $white;
      padding: 4rem;
      flex-grow: 1;
      height: 100%;
      position: relative;
      border-radius: 1rem;

      iconify-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        opacity: 0.5;
        cursor: pointer;
      }

      .title {
        font-size: 2.5rem;
        font-weight: 600;

        @include desktop {
          font-size: 2rem;
          display: none;
        }
      }

      .modal__submit--form {
        .form__group {
          margin-bottom: 1rem;
        }

        label {
          width: 100%;
          text-align: left;
          font-size: 1.4rem;
        }
        input,
        select {
          width: 100%;
          padding: 1rem;
          font-size: 1.6rem;
          border: 1px solid rgba(0, 0, 0, 0.2);

          &:focus {
            outline: none;
          }
        }

        button {
          border: none;
          padding: 1rem;
          width: 100%;
          background-color: $hover;
          color: $white;
          margin-top: 0.5rem;
          font-size: 1.4rem;
          font-family: $default_font;
        }
      }
    }
  }
}
//modal style end

//pagination style
.pagination__area {
  text-align: center;
}
.pagination {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}

.pagination a {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a.active {
  background-color: $primary-color;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination .prev,
.pagination .next {
  background-color: rgba(0, 0, 0, 0.1);
  color: $primary-color;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.pagination .page-number {
  border: 1px solid #ddd;
}

//pagination style
