//Course header start
.page__header {
  background: linear-gradient(to right, $primary_bg 50%, $primary_color 100%);
  overflow: hidden;
  // background: linear-gradient(
  //   to right,
  //   $primary_bg 50%,
  //   #ffffff 90%,
  //   $primary_bg 100%
  // );
  max-height: 15rem;
  overflow: hidden;

  color: $white;
  font-family: $default_font;
  padding: 1rem 0;

  .container {
    position: relative;
  }

  .shape {
    position: absolute;
    @include mobile {
      display: none;
    }
  }
  .shape-1 {
    opacity: 0.1;
  }
  .shape-2 {
    top: 103px;
    left: 55%;
    opacity: 0.3;
  }

  .shape-3 {
    top: -14px;
    right: -5px;
    opacity: 0.5;
  }

  &--info {
    margin-top: 1rem;

    h2 {
      font-size: 3.5rem;
      font-weight: 500;

      @include desktop {
        font-size: 3.2rem;
      }
      @include tablet {
        font-size: 3rem;
      }
      @include mobile {
        font-size: 2.7rem;
      }
    }
    p {
      font-size: 1.8rem;
      font-weight: normal;
      padding-bottom: 2rem;

      @include desktop {
        font-size: 1.6rem;
      }
      @include tablet {
        font-size: 1.4rem;
      }
      @include mobile {
        font-size: 1.2rem;
        margin-bottom: 0;
      }
    }
    .default_btn {
      border-radius: 0.5rem !important;
      pad: 0.8rem 2.5rem !important;
    }
  }

  .img__box {
    height: 14rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    text-align: right;
    margin-left: auto;
    margin-top: -8px;

    @include desktop {
      display: none;
    }

    @include mobile {
      display: none;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    i {
      font-size: 2rem;
      color: $white;
      z-index: 99999;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $hover-2;
      border-radius: 50%;
      height: 4.5rem;
      width: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
//Course Header End

//Course Listing start
.course__listing {
  padding: 8rem 0;
  padding-bottom: 10rem;

  .course__category--single {
    margin-bottom: 4rem;
  }

  .category__title {
    font-size: 2.8rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;

    i {
      color: $hover-2;
      font-weight: normal;
      font-size: 2.5rem;
    }
  }
}

.course__item {
  padding: 10rem 0;

  &--single {
    position: relative;
    background: $white;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s;
    margin-bottom: 3rem !important;

    &:hover {
      @include card__shadow;
    }

    .course_image {
      border-radius: 25px 25px 0 0;
      -webkit-border-radius: 25px 25px 0 0;
      -moz-border-radius: 25px 25px 0 0;
      -ms-border-radius: 25px 25px 0 0;
      -o-border-radius: 25px 25px 0 0;
    }
    .course_text {
      padding: 20px 14px 28px 17px;
      border-radius: 0 0 25px 25px;
    }
    .course_text {
      h6 {
        font-family: $bangla_font;
        font-size: 14px;
        line-height: 23px;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        letter-spacing: 0.2px;
        color: $hover-2;
      }
      h3 {
        color: $black-2;
        font-family: $bangla_font;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.200000003px;
      }
      p {
        margin-top: 2rem;
        font-size: 1.8rem;
        font-weight: bold;
        color: $black-2;
      }

      ul li {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .discount__btn {
          font-size: 1.4rem;
          font-weight: normal;
          border: 1px solid $hover-2;
          padding: 0.5rem;
          background-color: transparent;
          height: 4rem;
          width: 15rem;
          font-weight: bold;
          color: $hover-2;
        }
      }

      .reviews {
        margin-right: auto;
        margin-left: 1rem;
        margin-top: 0.3rem;
        font-size: 1.4rem;
      }

      span {
        svg {
          color: $semi_hover;
          margin: -4px;
          padding: 0;
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}
//Course Listing end

//modal style start
.discount__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999 !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  .row {
    height: 100vh;
  }

  .modal__area--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.8;
  }

  .video__modal--area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  .modal__form {
    text-align: center;
    background: $white;
    flex-grow: 1;
    height: 100%;
    position: relative;

    iconify-icon {
      position: absolute;
      right: 0;
      top: 1rem;
      font-size: 3rem;
      opacity: 0.5;
      cursor: pointer;
      padding-right: 1rem;
    }

    .modal__submit--form {
      position: relative;
      padding: 4rem;

      .title {
        font-size: 2rem;
        font-weight: 600;

        @include desktop {
          font-size: 1.8rem;
          display: none;
        }
      }

      .title__area {
        text-align: left;
        font-family: $bangla_font;

        .title {
          color: $black_3;
          line-height: 2.2rem;
          font-weight: 600;
          display: block;
          line-height: 3rem;
        }
        .sub__title {
          font-size: 1.6rem;
        }
      }

      label {
        width: 100%;
        text-align: left;
        font-size: 1.4rem;
      }
      input,
      select {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: left;
        transition: all 0.3s;
        border-radius: 4px;
        padding-top: 2.5rem;

        &:focus {
          outline: none;
          box-shadow: 0 0 2px 2px rgba(194, 242, 251, 1);
        }
      }
      select#course {
        padding-left: 1.2rem;
        margin-left: 0;
      }

      .input-double {
        display: flex;
        gap: 2rem;

        .input-container {
          flex: 1;
        }
      }

      .input-container {
        position: relative;
        margin-bottom: 20px;
      }

      .input-label {
        position: absolute;
        top: 2rem;
        left: 1.5rem;
        transition: all 0.2s ease-out;
        pointer-events: none;
        font-size: 16px;
        color: #999;
      }
      .course-label {
        top: -20px;
        font-size: 12px;
        color: $black_4;
        font-size: 1.2rem;
        top: 7px;
      }

      .input-label.active {
        top: -20px;
        font-size: 12px;
        color: $black_4;
        font-size: 1.2rem;
        top: 7px;
      }

      .button__box {
        text-align: left;
        padding: 1rem 0;

        button {
          border: none;
          padding: 1rem 3rem;
          background-color: $primary-light;
          color: $white;
          font-size: 1.8rem;
          font-family: $default_font;
          border-radius: 0.2rem;
          transition: all 0.3s;

          &:hover {
            background-color: $hover;
          }
        }
      }
      .contact {
        font-size: 1.6rem;
        font-family: $bangla_font;
        margin-left: 0;
        text-align: left;

        span {
          font-weight: bold;
        }
      }
    }
  }
}
//modal style end
