// gallery header start
.gallery__header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0;
  background-color: $gallery-bg;
  text-align: center;
  position: relative;
  overflow: hidden;

  .shape-1 {
    position: absolute;
    top: 20%;
    left: 10rem;
  }
  .shape-2 {
    position: absolute;
    top: 50%;
    right: 30rem;
    opacity: 0.5;
  }
  .shape-3 {
    position: absolute;
    top: -5rem;
    right: -8rem;
  }
  .shape {
    @media screen and (max-width: 1200px) {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

.gallery__header--inner h2 {
  font-size: 5rem;
  color: $hover;
  font-weight: bold;
}
.gallery__header--inner p {
  font-size: 1.6rem;
}

.gallery {
  padding: 5rem 0;

  @include tablet {
    padding: 5rem 0;
  }

  .gallery__button {
    text-align: center;
    margin-bottom: 3rem;

    button {
      border: none;
      background: none;
      color: $black-2;
      font-size: 1.7rem;
      opacity: 0.9;
      margin: 0 0.5rem;

      &.active {
        color: $hover;
        border-bottom: 2px solid $hover;
      }
    }
  }

  .gallery__element {
    position: relative;
    z-index: 1;
    border-radius: 0.5rem;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(17, 88, 109, 0.8);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }

      svg {
        opacity: 1;
        visibility: visible;
        top: 50%;
      }
      .gallery__text {
        opacity: 1;
        visibility: visible;
      }
    }

    img {
      width: 100%;
      height: 30rem;
      object-fit: cover;
    }

    svg {
      width: 6rem;
      height: 6rem;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      cursor: pointer;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
    .gallery__text {
      position: absolute;
      left: 0;
      bottom: 4rem;
      color: $white;
      font-size: 1.8rem;
      font-weight: bold;
      width: 100%;
      text-align: center;
      padding: 0 2rem;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
  }
}

// gallery header end

// gallery cta area start
.footer__cta {
  margin-top: 5rem;
  padding: 5rem 0;
  background: $gallery-bg;
  text-align: center;
  // position: relative;
  overflow: hidden;
  margin-bottom: 18rem;

  @include desktop {
    margin-bottom: 12rem;
  }
  @include tablet {
    margin-bottom: 8rem;
    margin-top: 4rem;
  }

  .container {
    position: relative;
  }

  .shape {
    opacity: 0.5;
  }
  .shape-1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .shape-2 {
    position: absolute;
    top: 5rem;
    right: 5rem;
  }
  .shape-3 {
    position: absolute;
    top: 20rem;
    right: 0;
  }
  .shape {
    @include desktop {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }

  h2 {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 5rem;

    @include desktop {
      font-size: 3rem;
    }

    @include tablet {
      font-size: 2.8rem;
    }
    @include mobile {
      font-size: 2rem;
      line-height: 3rem !important;
    }

    span {
      color: $hover;
    }
  }

  button {
    border: none;
    margin-top: 2rem;
    background-color: transparent;

    .default__btn {
      @include mobile {
        font-size: 1.2rem !important;
        margin-right: 0;
      }
    }
  }
}
// gallery cta area end
