.login__container {
  margin-top: 0 !important;
  background: $white !important;
}
.login__footer {
  margin: 0 !important;
  padding: 0 !important;
}

.login {
  position: relative;
  height: calc(100vh - 185px);

  @media screen and (max-width: 992px) {
    height: calc(100vh - 160px);
  }

  @include tablet {
    height: calc(100vh - 140px);
  }
  @include mobile {
    height: calc(100vh - 140px);
  }

  .form__inner {
    height: calc(100vh - 175px);

    @media screen and (max-width: 992px) {
      height: calc(100vh - 160px);
    }

    @include tablet {
      height: calc(100vh - 140px);
    }
    @include mobile {
      height: calc(100vh - 150px);
    }

    .row {
      height: calc(100vh - 140px);

      @media screen and (max-width: 992px) {
        height: calc(100vh - 160px);
      }

      @include tablet {
        height: calc(100vh - 140px);
      }
      @include mobile {
        height: calc(100vh - 500px);
      }
    }
  }

  form {
    background-color: $white;
    padding: 3rem;
    border-radius: 1rem 0 0 1rem;
    margin-top: -12rem;

    @include desktop {
      margin-top: 2rem;
      padding: 0;
    }

    @include tablet {
      padding: 0;
      margin-top: -5rem;
    }

    @include mobile {
      margin-top: 6rem;
      padding: 0;
    }

    h2 {
      color: $black_4;
      font-size: 3.2rem;
      font-weight: bold;
      font-family: $default_font;
      margin-bottom: 3rem;

      @include mobile {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
    p {
      font-size: 1.6rem;

      @include mobile {
        font-size: 1.2rem;
      }
    }
    .back__to--login {
      font-size: 1.4rem;
      display: block;
      text-align: center;
      margin-top: 2rem;
      color: $black_4;

      &:hover {
        color: $primary-color;
      }
    }

    input,
    select {
      background-color: $white;
      transition: all 0.3s;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem 1.5rem;
      font-size: 1.8rem;
      width: 100%;
      border-radius: 5px;
      color: $black_2;

      &::placeholder {
        font-size: 1.6rem;
        font-family: $default_font;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }

    .default_btn {
      @include btn__gradiant;
      font-size: 1.4rem;
      margin-top: 1rem;
      padding: 1.1rem 2.5rem;
      width: 100%;
      margin-right: 0;
      max-width: 100%;
    }

    .password__area {
      position: relative;

      a {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;
      }
    }

    .dont__have--account {
      display: block;
      text-align: center;
      margin-top: 2rem;
      font-size: 1.4rem;
      color: $black_4;
      transition: all 0.3s;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .img__box {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);

    @media screen and (max-width: 992px) {
      width: 40%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
