.modal__form--table {
  border-radius: 0.5rem;
  margin-top: 3rem !important;
  background: $white;
  max-width: 800px;
  margin: 0 auto;

  @include desktop {
    width: 700px;
  }
  @include tablet {
    width: 90%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    iconify-icon {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 2rem;
    }
  }
  .content {
    overflow-y: auto;
    max-height: 70vh;
    padding: 2.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .button__area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 2.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include mobile {
      flex-wrap: wrap;
    }

    .cancel {
      color: $black_4;
      border: none;
      background: none;
      transform: all 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }

    .submit__btn {
      background: $white;
      font-size: 1.4rem;
      font-family: $default_font;
      padding: 0.8rem 1rem;
      transition: all 0.3s;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
      border-radius: 0.3rem;
    }

    .submit__btn {
      border: 1px solid transparent;
      background: $primary-light;
      color: $white;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      &:hover {
        background: $primary-color;
      }
    }
  }
}

.filter__modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  backdrop-filter: blur(3px);
  z-index: 999999;
  overflow: hidden !important;

  .content {
    .select__element {
      position: relative;
    }
    .select2-container {
      width: 100% !important;
      border-radius: 0.5rem;
      padding: 0.8rem 1rem !important;
    }
    .column {
      @include tablet {
        display: block;
        width: 100%;
        padding-left: 0 !important;
      }
    }

    label,
    .reporttype__label {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .reporttype__label {
      margin-top: 1rem;
    }
    input,
    textarea,
    select {
      padding: 0.8rem 1rem !important;
      color: $black_3;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      transition: all 0.3s;
      width: 100%;

      &:focus {
        border: 1px solid $primary-color;
        outline: none;
      }

      &::placeholder {
        color: $black_4;
        opacity: 0.8;
      }
    }
    .form__field {
      margin-top: 1rem;

      .checkbox__item {
        display: flex;
        align-items: center;
        gap: 1rem;

        label {
          font-weight: normal;
          font-size: 1.5rem;
          color: $black_4;
        }

        input[type="checkbox"] {
          font-size: 1rem;
          width: 0.2rem !important;
          height: 2rem !important;
        }
        .form-check-input:checked {
          background-color: $primary-color;
        }
      }
    }
    .form__group {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      flex: 1;

      @include desktop {
        display: block;
      }

      @include tablet {
        display: block;
      }
    }
    .form__group.radio {
      display: flex;
      gap: 2rem;
      justify-content: flex-start !important;
    }
    .form__group.radio.gender {
      flex-direction: column;
      gap: 0.6rem !important;
    }
    .form__group--gender {
      display: flex;
      gap: 2rem;
    }

    .form__field.radio {
      display: flex;
      align-items: center;
      gap: 2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      margin-top: 0.5rem !important;
      flex-grow: 0;

      input[type="radio"] {
        width: 2rem;
      }

      input[type="radio"] {
        display: none;
      }

      label {
        position: relative;
        padding-left: 3.5rem;
        cursor: pointer;
        font-weight: normal;
      }
      label::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 0.7rem;
        transform: translateY(-50%);
        transition: border-color 400ms ease;
      }
      label::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $primary-color;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 0.7rem;
        transform: translateY(-50%) scale(0);
        transition: transform 400ms ease;
      }

      input[type="radio"]:checked + label::before {
        border-color: $primary-color;
      }

      input[type="radio"]:checked + label::after {
        transform: translateY(-50%) scale(0.55);
      }
    }
  }
}
.modal__button__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include mobile {
    flex-wrap: wrap;
  }

  .cancel {
    color: $black_4;
    border: none;
    background: none;
    transform: all 0.3s;

    &:hover {
      text-decoration: underline;
    }
  }

  .submit__btn {
    background: $white;
    font-size: 1.4rem;
    font-family: $default_font;
    padding: 0.8rem 1rem;
    transition: all 0.3s;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
    border-radius: 0.3rem;
  }

  .submit__btn {
    border: 1px solid transparent;
    background: $primary-light;
    color: $white;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &:hover {
      background: $primary-color;
    }
  }
}

.student__modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  backdrop-filter: blur(3px);
  z-index: 999999;
  overflow-y: hidden !important;

  .content {
    .select__element {
      position: relative;
    }
    .select2-container {
      width: 100% !important;
      border-radius: 0.5rem;
      padding: 0.8rem 1rem !important;
    }

    label,
    .reporttype__label {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .reporttype__label {
      margin-top: 1rem;
    }
    input,
    textarea,
    select {
      padding: 0.8rem 1rem !important;
      color: $black_3;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      transition: all 0.3s;
      width: 100%;

      &:focus {
        border: 1px solid $primary-color;
        outline: none;
      }

      &::placeholder {
        color: $black_4;
        opacity: 0.8;
      }
    }
    .form__group {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      flex: 1;

      @include desktop {
        display: block;
      }

      @include tablet {
        display: block;
      }
    }
    .form__field {
      margin-top: 1rem;
      flex: 1;

      input[type="file"] {
        padding: 0 !important;
      }

      .checkbox__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 2rem;

        label {
          font-weight: normal;
          font-size: 1.5rem;
          color: $black_4;
        }

        input[type="checkbox"] {
          font-size: 1rem;
          width: 0.2rem !important;
          height: 2rem !important;
        }
        .form-check-input:checked {
          background-color: $primary-color;
        }
      }

      ::-webkit-file-upload-button {
        background-color: $black_5;
        color: $white;
        padding: 0.8rem;
        border: none;
        margin-right: 1rem;
        border-radius: 4px;
        transition: all 0.3s;
        cursor: pointer;
        padding: 1rem;
      }
    }

    .form__group.radio {
      display: flex;
      gap: 2rem;
      justify-content: flex-start !important;
    }
    .form__group.radio.gender {
      flex-direction: column;
      gap: 0.6rem !important;
    }
    .form__group--gender {
      display: flex;
      gap: 2rem;
    }

    .form__field.radio {
      display: flex;
      align-items: center;
      gap: 2rem;
      border-radius: 0.2rem;
      cursor: pointer;
      margin-top: 0.5rem !important;
      flex-grow: 0;

      input[type="radio"] {
        width: 2rem;
      }

      input[type="radio"] {
        display: none;
      }

      label {
        position: relative;
        padding-left: 3.5rem;
        cursor: pointer;
        font-weight: normal;
      }
      label::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 0.7rem;
        transform: translateY(-50%);
        transition: border-color 400ms ease;
      }
      label::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $primary-color;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 0.7rem;
        transform: translateY(-50%) scale(0);
        transition: transform 400ms ease;
      }

      input[type="radio"]:checked + label::before {
        border-color: $primary-color;
      }

      input[type="radio"]:checked + label::after {
        transform: translateY(-50%) scale(0.55);
      }
    }
  }
}
.table__modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  backdrop-filter: blur(3px);
  z-index: 999999;
  overflow-y: hidden !important;

  .content {
    label,
    .reporttype__label {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .reporttype__label {
      margin-top: 1rem;
    }
    input,
    textarea {
      padding: 0.8rem 1rem;
      color: $black_3;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      transition: all 0.3s;
      width: 100%;

      &:focus {
        border: 1px solid $primary-color;
        outline: none;
      }

      &::placeholder {
        color: $black_4;
        opacity: 0.8;
      }
    }
    .form__field {
      margin-top: 1rem;
      flex: 1;
    }
    .form__group {
      display: flex;
      width: 100%;
      gap: 1rem;
      align-items: stretch;

      @include desktop {
        display: block;
      }
      @include tablet {
        display: block;
      }
    }

    .form__field.radio {
      display: flex;
      align-items: center;
      gap: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border-radius: 0.2rem;
      cursor: pointer;

      input[type="radio"] {
        width: 2rem;
      }
      h3 {
        font-size: 1.4rem;
        font-weight: 600;
      }
      p {
        font-size: 1.3rem;
      }

      input[type="radio"] {
        display: none;
      }

      label {
        position: relative;
        padding-left: 4rem;
        cursor: pointer;
      }
      label::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 0.7rem;
        transform: translateY(-50%);
        transition: border-color 400ms ease;
      }
      label::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $primary-color;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 0.7rem;
        transform: translateY(-50%) scale(0);
        transition: transform 400ms ease;
      }

      input[type="radio"]:checked + label::before {
        border-color: $primary-color;
      }

      input[type="radio"]:checked + label::after {
        transform: translateY(-50%) scale(0.55);
      }
    }
  }
}
.update__modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  backdrop-filter: blur(3px);
  z-index: 999999;
  overflow: hidden !important;

  .content {
    label,
    .reporttype__label {
      width: 100%;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .reporttype__label {
      margin-top: 1rem;
    }
    input,
    textarea {
      padding: 0.8rem 1rem !important;
      color: $black_3;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      transition: all 0.3s;
      width: 100%;

      &:focus {
        border: 1px solid $primary-color;
        outline: none;
      }

      &::placeholder {
        color: $black_4;
        opacity: 0.8;
      }
    }
    .form__field {
      margin-top: 1rem;
      flex: 1;
    }
    .form__group {
      display: flex;
      width: 100%;
      gap: 1rem;
      align-items: stretch;

      @include desktop {
        display: block;
      }
      @include tablet {
        display: block;
      }
    }

    .form__field.radio {
      display: flex;
      align-items: center;
      gap: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border-radius: 0.2rem;
      cursor: pointer;

      input[type="radio"] {
        width: 2rem;
      }
      h3 {
        font-size: 1.4rem;
        font-weight: 600;
      }
      p {
        font-size: 1.3rem;
      }

      input[type="radio"] {
        display: none;
      }

      label {
        position: relative;
        padding-left: 4rem;
        cursor: pointer;
      }
      label::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 0.7rem;
        transform: translateY(-50%);
        transition: border-color 400ms ease;
      }
      label::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: $primary-color;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        top: 50%;
        left: 0.7rem;
        transform: translateY(-50%) scale(0);
        transition: transform 400ms ease;
      }

      input[type="radio"]:checked + label::before {
        border-color: $primary-color;
      }

      input[type="radio"]:checked + label::after {
        transform: translateY(-50%) scale(0.55);
      }
    }
  }
}
