.profile__body {
  margin-top: 0 !important;
  top: 0 !important;

  .container {
    @include tablet {
      padding: 0 2rem !important;
      margin: 0 !important;
      max-width: 100% !important;
    }
  }
}

.rbt-header-wrapper.header-space-betwween.header-sticky.profile-sticky.rbt-sticky {
  top: 0 !important;
}

//common
.profile__title {
  font-size: 20px;
  font-weight: 600;
  color: $black_3;
  margin-bottom: 20px;
}

.profile__page {
  min-height: calc(100vh - 305px);
}

.profile__area {
  margin: 6rem 0;

  @include desktop {
    text-align: center;
  }
  @include tablet {
    text-align: center;
  }

  .thumbnail {
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50%;

    @include desktop {
      margin: 0 auto;
    }
    @include tablet {
      margin: 0 auto;
    }

    &:hover {
      .thumbnail__img {
        filter: brightness(0.5);
      }
      .profile__upload--area {
        opacity: 1;
        visibility: visible;
      }
    }

    .profile__upload--area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;

      .profile-upload-label {
        display: inline-block;
        padding: 15px 25px;
        background-color: #f4f4f4;
        border: 3px solid #cccccc;
        border-radius: 5px;
        cursor: pointer;
        border-style: dotted;

        i {
          font-size: 30px;
        }
      }

      .profile-upload-input {
        display: none;
      }
    }

    .thumbnail__img,
    .thumbnail__preview--area {
      width: 100%;
      height: auto;
      border-radius: 50%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  .social__share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include desktop {
      margin-top: 2rem;
    }
    @include tablet {
      margin-top: 2rem;
    }

    a {
      border: 1px solid rgba(0, 0, 0, 0.1);
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      transition: all 0.3s;

      &:hover {
        background-color: $primary-color;
        color: $white;

        i {
          color: $white;
        }
      }
    }

    i {
      font-size: 18px;
      transition: all 0.3s;
      color: #787673;
    }
  }

  //details
  .details {
    .header {
      h4 {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $primary-light;
      }
      h5 {
        font-size: 2.8rem;
        font-weight: 700;
        margin: 0.8rem 0;
      }
      h6 {
        color: #808080;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      .ratings {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;

        @include desktop {
          justify-content: center;
        }
        @include tablet {
          justify-content: center;
        }

        .students {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: #808080;
          font-size: 1.5rem;

          p {
            color: $black_3;
            margin-bottom: 0;
          }
        }

        .seperator {
          background: #dbdbdb;
          height: 15px;
          width: 1px;
          margin: 0 1.5rem;
        }

        .ratings__item {
          .icon {
            i {
              font-size: 1.5rem;
              color: $hover-2;
            }
            span {
              font-size: 1.4rem;
              color: $black_3;
            }
          }
        }
      }

      @include desktop {
        margin-top: 40px;
      }
      @include tablet {
        margin-top: 30px;
      }
    }

    .about__me {
      p {
        font-size: 14px;
        color: #808080;
        line-height: 25px;
        margin-bottom: 20px;
      }
    }

    .contact__me {
      &--details {
        .details__info {
          display: flex;
          flex-direction: column;
          width: max-content;

          @include desktop {
            justify-content: center;
            width: 100%;
          }
          @include tablet {
            justify-content: center;
            width: 100%;
          }

          div {
            border-bottom: 2px solid $black_5;
            padding-bottom: 0.8rem;
            margin-bottom: 0.8rem;

            @include desktop {
              width: max-content;
              margin: 0 auto;
            }
            @include tablet {
              width: max-content;
              margin: 0 auto;
            }
          }
        }

        h4 {
          font-size: 15px;
          font-weight: 400;
          color: #808080;
          display: inline-block;

          span {
            color: $black_3;
            display: inline-block;
            font-size: 16px;
            min-width: 100px;
          }
        }
      }
    }
  }
}

.profile__card {
  padding: 2rem 0;
  padding-bottom: 10rem;

  &--header {
    text-align: center;
    margin-bottom: 4rem;
  }
  .profile__card--item {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card__single {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    width: 300px;

    .file__upload--area {
      position: absolute;
      top: 13rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      display: flex;
      align-items: center;
      gap: 1rem;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;

      .file-upload-label {
        display: inline-block;
        padding: 20px 10px;
        background-color: #f4f4f4;
        border: 3px solid #cccccc;
        border-radius: 5px;
        cursor: pointer;
        border-style: dotted;
      }

      .file-upload-input {
        display: none;
      }

      .drag-drop-text {
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        color: #615e58;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $semi_hover;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }

    &:hover {
      .overlay {
        opacity: 1;
        visibility: visible;
      }
      .file__upload--area {
        opacity: 1;
        visibility: visible;
        top: 10rem;
      }
    }
    .img__box {
      width: 100%;
      height: 35rem;
      background-color: #dfdfdf;

      img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--info {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      width: 100%;
      text-align: center;
      padding: 0 2rem;

      .name {
        background: $white;
        color: $black-2;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 1rem;
        font-size: 2.2rem;
        font-weight: bold;
      }
    }
  }
}
