//student apply header start
.studentapply__header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 0;
  background-color: $gallery-bg;
  text-align: center;
  position: relative;
  overflow: hidden;

  .shape-1 {
    position: absolute;
    top: 20%;
    left: 10rem;
  }
  .shape-2 {
    position: absolute;
    top: 50%;
    right: 30rem;
    opacity: 0.5;
  }
  .shape-3 {
    position: absolute;
    top: -5rem;
    right: -8rem;
  }
  .shape {
    @media screen and (max-width: 1200px) {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
}

.studentapply__header--inner h2 {
  font-size: 5rem;
  color: $hover;
  font-weight: bold;
}

// student apply header end

// branchapply form start
.student__apply {
  margin: 5rem 0;
  margin-bottom: 15rem;

  @include desktop {
    margin-bottom: 10rem;
  }
  @include tablet {
    margin-bottom: 8rem;
  }

  .container {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.08);
    padding: 0;
  }

  .student__apply--image {
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      content: "";
      background-color: $hover-2;
      opacity: 0.4;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// branch apply form end

//branch apply form start
.studentapply__form {
  background-color: #ffffff;
  font-family: Raleway;
  width: 100%;
  height: 100%;
  padding: 4rem;

  h2,
  p,
  input {
    font-family: $default_font;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    color: $hover-2;
    font-family: $default_font;
    margin-bottom: 2rem;
    font-weight: bold;
  }

  input,
  select {
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-size: 1.6rem;
    width: 100%;
  }

  input:focus,
  select:focus {
    box-shadow: 0 0 2px 2px rgba(194, 242, 251, 1);
    outline: none;
  }

  label {
    font-size: 1.4rem;
    font-weight: bold;
    color: $black_4;
    width: 100%;
  }
  .bkash__number {
    font-weight: normal;
    font-size: 1.6rem;
    opacity: 0.9;

    span {
      color: $hover-2;
      font-weight: bold;
    }
  }

  button {
    background-color: $hover-2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: $default_font;
    cursor: pointer;
  }
}

/* Mark input boxes that gets an error on validation: */
.invalid {
  background-color: #ffdddd;
}
