.table__body {
  margin-top: 0 !important;
  top: 0 !important;

  .container {
    @include tablet {
      padding: 0 2rem !important;
      margin: 0 !important;
      max-width: 100% !important;
    }
  }
}

.rbt-header-wrapper.header-space-betwween.header-sticky.adminpanel-sticky.rbt-sticky {
  top: 0 !important;
}

.table__area {
  margin: 6rem 0;
  min-height: calc(100vh - 305px);

  @include mobile {
    margin-top: 4rem;
  }
  // header part

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;

    .button__area {
      display: flex;
      gap: 1rem;
      padding: 0.2rem 0;
    }

    .filter__btn,
    .create__table--btn,
    .create__student--btn {
      background: $white;
      font-size: 1.4rem;
      font-family: $default_font;
      padding: 0.8rem 1rem;
      transition: all 0.3s;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
      border-radius: 0.3rem;

      iconify-icon {
        font-size: 1.2rem;
      }
    }
    .filter__btn {
      border: 1px solid $primary-color;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      span {
        @include mobile {
          display: none;
        }
      }

      &:hover {
        border: 1px solid $primary-light;
        background-color: $primary-light;
        color: $white;
      }
    }

    .create__table--btn,
    .create__student--btn {
      border: 1px solid transparent;
      background: $primary-color;
      color: $white;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      span {
        @include mobile {
          display: none;
        }
      }

      &:hover {
        background: $primary-light;
      }
    }
  }

  //table start
  .card__table {
    margin-bottom: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .card__header {
    background-color: $semi-white;
    color: $black_4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .card__table {
    .table__responsive {
      margin-top: 0;

      @include desktop {
        overflow-x: scroll;
      }
      @include tablet {
        overflow-x: scroll;
      }

      thead {
        background: rgba(0, 0, 0, 0.05);
        font-size: 1.2rem;
        text-transform: uppercase;
        vertical-align: middle;
        height: 6rem;
        box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.03);
        background: $primary-color;
        color: $white;

        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
      }

      tbody tr {
        height: 5rem !important;
        vertical-align: middle;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        transition: all 0.3s;

        i {
          cursor: pointer;
        }
        i.delete {
          color: red;
        }
      }
      .card-table tr td:first-child,
      .card-table tr th:first-child {
        padding-left: 1.5rem;
        border-left: 0;
      }
      .card-table tr td:last-child,
      .card-table tr th:last-child {
        padding-right: 0;
        border-left: 0;
      }

      input.form-check-input {
        font-size: 2rem;

        &:checked {
          background-color: $primary-color;
        }
      }
      button.btn.dropdown-toggle.align-text-top {
        padding: 1rem;
        font-size: 1.4rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .card__footer {
      padding: 1rem 2rem;
      margin-top: -1rem;
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-wrap: wrap;
      }

      //pagination style
      .adminpanel__pagination {
        text-align: center;

        @include mobile {
          width: 100%;
          margin: 0 auto;
          margin-top: 1.5rem;
        }

        .pagination {
          display: flex;
          gap: 0.5rem;
          padding: 0;
          margin: 0;
        }
        .pagination a {
          color: black;
          text-decoration: none;
          font-size: 1.4rem;
          height: 3rem !important;
          width: 3rem !important;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 !important;
        }

        .pagination .prev,
        .pagination .next {
          background: $white;
          display: flex;
          align-items: center;
          margin-top: 0.5rem;
        }
        .pagination .prev {
          padding: 0 3rem !important;
          align-items: center;

          iconify-icon {
            margin-top: -0.6rem;
          }
        }
        .pagination .next {
          padding: 0 3rem !important;

          iconify-icon {
            margin-top: -0.4rem;
          }
        }

        .pagination .page-number {
          border: 1px solid #ddd;
          padding: 2rem;
        }
        .pagination .page-number.active {
          color: $white;
        }
      }
    }
  }
  //table end
}

//select2 style
.table__area {
  .select2-container {
    padding: 1rem !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    width: 100% !important;
    z-index: 999999 !important;
    padding: 1.5px !important;
    // position: relative;
  }
  .select2-dropdown {
    z-index: 99999;
  }
  .select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    text-align: left;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 30px !important;
    display: none;
  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    padding: 1rem !important;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      outline: none;
    }
  }
  span.select2-selection.select2-selection--single {
    width: 16rem;
  }
  .course__list {
    border-width: 0 2px 2px 0;
  }
}
