@import "./partials/variables";
@import "./partials/default";
// @import "./partials/media_query";

body {
  margin: 0;
  padding: 0;
}

.admit__card {
  position: relative;
  width: 9.5253in;
  height: 5.9411in;
  z-index: 1;
  margin: 0 auto;
  break-after: always;
  break-before: always;
  break-inside: avoid;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../img/admit__card.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  &--content {
    padding: 86px;
    padding-top: 85px;

    .logo__area {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 16px;
      padding-right: 10px;

      .logo__main {
        width: 67px;
        height: auto;
        margin-top: -2px;
      }
      .logo__two {
        width: 330px;
        height: auto;
      }

      .profile__image {
        height: 89px;
        width: 76px;
        overflow: hidden;
        margin-top: 6px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .logo__bottom {
      text-align: center;
      position: relative;
      margin-top: -40px;

      h2 {
        font-size: 20px;
        font-family: $certificate_font;
        font-weight: 500;
        position: relative;
        z-index: 1;

        &::before {
          position: absolute;
          top: -6px;
          left: 50%;
          transform: translateX(-50%);
          width: 110px;
          height: 100%;
          content: "";
          background-image: url("../img/asset-1.svg");
          background-repeat: no-repeat;
          z-index: -1;
        }
        &::after {
          position: absolute;
          left: 50%;
          bottom: -24px;
          transform: translateX(-50%);
          width: 120px;
          height: 100%;
          content: "";
          background-image: url("../img/asset-2.svg");
          background-repeat: no-repeat;
          z-index: -1;
        }
      }
    }
    .table__area {
      display: flex;
      justify-content: space-between;
      font-family: $font_avenir;

      .table__left {
        font-size: 12px;
        font-weight: 600;
        width: 68%;
        table-layout: auto !important;
        border-collapse: separate;
        border-spacing: 10px 8px;
        margin-top: -22px;

        td.property {
          width: 52px;
          white-space: nowrap;
          padding-right: 10px;
          font-weight: normal;
        }
        td.first__row {
          padding-bottom: 10px;
        }
        td.value {
          border-bottom: 1.4px dotted $black_4;
          padding-left: 10px;
          position: relative;
          font-weight: normal;
          white-space: nowrap;

          &.double__col {
            border-bottom: 1.4px dotted transparent;
            padding-left: 0;
          }

          &::before {
            position: absolute;
            top: 1px;
            left: -12px;
            width: 100%;
            height: 100%;
            content: ":";
          }
        }

        &--table {
          border-collapse: separate;
          border-spacing: 8px 0;
          width: 105%;
          margin-left: -7px;

          .underline {
            border-bottom: 1.4px dotted $black_4;
            padding-left: 10px;
          }

          .td__middle {
            max-width: 18px;
          }
        }
      }
      .table__right {
        width: 32%;
        align-self: start;
        font-size: 12px;
        font-weight: 500;
        border-collapse: separate;
        border-spacing: 4px;
        padding-right: 5px;
        margin-top: 9px;
        font-weight: 500;

        td.tr__property {
          max-width: 38px;
          white-space: nowrap;
          font-weight: normal;
        }
        td.tr__value {
          padding: 7.5px;
          background-color: #f8f4f9;
          border: 1px solid rgba(0, 0, 0, 0.4);
          // transform: scaleY(0.96);
          font-weight: bold;
          width: 120px;
        }
      }
    }

    .footer {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      padding: 0 47px;
      font-family: $font_avenir;

      .qr__code {
        width: 72px;
        margin-top: -22px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .signature {
        text-align: center;
        position: relative;

        .signature__img {
          height: 35px;
          width: auto;
          position: absolute;
          bottom: 45px;
          left: 50%;
          transform: translateX(-50%);
        }

        h4 {
          font-size: 10px;
          font-weight: 600;
          padding-bottom: 0;
          margin-bottom: 0;
          position: relative;
          letter-spacing: -0.5px;

          &::before {
            position: absolute;
            top: -3px;
            left: -4%;
            width: 108%;
            height: 1px;
            content: "";
            background: $black_4;
          }
        }
        p {
          font-size: 8px;
          font-weight: 600;
          letter-spacing: -0.6px;
          line-height: 10px;
          margin-top: 0;
        }
      }
      .chairman {
        h4 {
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

@media print {
  @page {
    size: A4 landscape;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
  }
  .admit__card {
    width: 9.53in;
    height: 5.94in;
    margin: 0 auto;
    margin-top: 90px !important;

    &::after {
      // display: none;
    }
  }
}
