@mixin transform($property) {
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transform: $property;
  -o-transition: $property;
  transition: $property;
}
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-o-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}
@mixin animation($property) {
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

@mixin btn__gradiant {
  background: linear-gradient(214.38deg, #fb908a -2.24%, #ff512e 59.38%);
}

@mixin dropdown__gradiant {
  background: linear-gradient(214.38deg, #fab8b5 -2.24%, #ff512e 59.38%);
}
