.course__area {
  position: relative;
  z-index: 2;

  .container {
    text-align: center;
  }

  .course__area--header {
    text-align: center;

    h2 {
      color: #000;
      font-size: 4rem;
      font-weight: 600;

      span {
        color: $color-secondary;
      }
    }
    p {
      font-size: 1.4rem;
      font-weight: 400;
      width: 50%;
      margin: 0 auto;
    }
  }

  .course__area--inner {
    display: flex;
    margin: 2rem 0;
    gap: 4rem;
    justify-content: space-between;
    padding: 2rem;
    overflow: hidden;
  }

  .course__area--single {
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 1rem;
    flex-basis: 35rem;

    img {
      width: 100%;
      height: 20rem;
      margin-bottom: 0.5rem;
    }
    .course__tag {
      background: rgba(209, 209, 209, 0.1);
      color: $color-primary;
      border: none;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 0.2rem;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.2rem;
      cursor: pointer;

      dot {
        background-color: $color-primary;
      }
    }

    .course__title {
      font-size: 2.5rem;
      margin: 0.5rem 0;
      margin-top: 1rem;
      text-align: left;
    }

    .course__ratings {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;

      p {
        font-size: 1.3rem;
      }
    }
    .course__ratings--icon {
      color: $color-secondary;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }

    .course__info {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      p {
        font-size: 1.2rem;
        font-weight: 300;
        display: flex;
        align-items: center;
      }

      .course__info--icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    .enroll__now--btn {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      width: 100%;
      border: none;
      padding: 1rem;
      margin-top: 2rem;
      @include btn__orange;
      cursor: pointer;
    }
  }

  .viewall__course--btn {
    @include btn__transparent;
    font-size: 1.8rem;
  }
}
